<template>
  <canvas
    ref="canvas"
    width="400"
    height="400"
    style="border: 0px solid black"
    @click="canvasClick"
  >
  </canvas>
</template>

<script>
import music from '@/music'
import * as colorsModule from '@/utils/colors'

const CENTER = { x: 200, y: 200 }
const OUT_RADIUS = 197
const MID_RADIUS = 150
const DIM_RADIUS = 110
const INN_RADIUS = 70
const OUT_TEXT_RADIUS = (OUT_RADIUS + MID_RADIUS) / 2
const OUT_SCALE_INDEX_TEXT_RADIUS = (OUT_RADIUS - MID_RADIUS) * 0.7 + MID_RADIUS
const INN_TEXT_RADIUS = (MID_RADIUS + DIM_RADIUS) / 2
const INN_SCALE_INDEX_TEXT_RADIUS = (MID_RADIUS - DIM_RADIUS) * 0.7 + DIM_RADIUS
const DIM_TEXT_RADIUS = (DIM_RADIUS + INN_RADIUS) / 2
const DIM_SCALE_INDEX_TEXT_RADIUS = (DIM_RADIUS - INN_RADIUS) * 0.7 + INN_RADIUS

export default {
  name: 'CircleOfFifth',
  props: {
    selectedScale: {
      type: Object,
      default: null,
    },
    palette: {
      type: Array,
      default: () => colorsModule.rainbowPalette,
    },
  },
  data() {
    const majorPart = ['C', 'G', 'D', 'A', 'E', 'B', 'F#', 'Db', 'Ab', 'Eb', 'Bb', 'F']
    const minorPart = ['Am', 'Em', 'Bm', 'F#m', 'C#m', 'G#m', 'Ebm', 'Bbm', 'Fm', 'Cm', 'Gm', 'Dm']
    const dimPart = [
      'Bdim',
      'F#dim',
      'C#dim',
      'G#dim',
      'Ebdim',
      'Bbdim',
      'Fdim',
      'Cdim',
      'Gdim',
      'Ddim',
      'Adim',
      'Edim',
    ]
    return {
      majorPart,
      minorPart,
      dimPart,
    }
  },
  computed: {
    selectedScaleNotes() {
      return music.getScale(this.selectedScale.root, this.selectedScale.mode)
    },
    selectedScaleChords() {
      return this.selectedScale ? music.getScaleChords(this.selectedScale) : null
    },
  },
  watch: {
    selectedScale() {
      this.draw()
    },
  },
  mounted() {
    this.draw()
  },
  methods: {
    getSelectedScaleChordIndex(chord) {
      if (!this.selectedScaleChords) {
        return -1
      }
      let result = this.selectedScaleChords.indexOf(chord)
      if (result === -1) {
        result = this.selectedScaleChords.indexOf(music.inverseAccidental(chord))
      }
      return result
    },
    getColor(i, chordIndex) {
      if (chordIndex > -1) {
        return this.palette[chordIndex]
      } else {
        return `rgb(${i * 8 + 155}, ${i * 8 + 155}, ${i * 8 + 155})`
      }
    },
    draw() {
      const canvas = this.$refs.canvas
      const ctx = canvas.getContext('2d')

      // text settings
      ctx.textBaseline = 'middle'
      ctx.textAlign = 'center'
      ctx.font = '18px Arial'
      ctx.lineWidth = 2

      this.majorPart.forEach((chord, index) => {
        const angle = -90 + index * 30

        ctx.beginPath()
        ctx.moveTo(CENTER.x, CENTER.y)
        ctx.arc(
          CENTER.x,
          CENTER.y,
          OUT_RADIUS,
          ((angle - 15) / 180) * Math.PI,
          ((angle + 15) / 180) * Math.PI
        )
        ctx.lineTo(CENTER.x, CENTER.y)
        const selectedScaleChordIndex = this.getSelectedScaleChordIndex(chord)
        ctx.fillStyle = this.getColor(index, selectedScaleChordIndex)
        ctx.fill()
        ctx.stroke()

        ctx.font = '18px Arial'
        ctx.fillStyle = '#000000'
        ctx.fillText(
          chord,
          CENTER.x + OUT_TEXT_RADIUS * Math.cos((angle / 180) * Math.PI),
          CENTER.y + OUT_TEXT_RADIUS * Math.sin((angle / 180) * Math.PI)
        )
        if (selectedScaleChordIndex >= 0) {
          ctx.font = '13px Arial'
          const textAngle = angle - 10
          ctx.fillText(
            selectedScaleChordIndex + 1,
            CENTER.x + OUT_SCALE_INDEX_TEXT_RADIUS * Math.cos((textAngle / 180) * Math.PI),
            CENTER.y + OUT_SCALE_INDEX_TEXT_RADIUS * Math.sin((textAngle / 180) * Math.PI)
          )
        }
      })

      this.minorPart.forEach((chord, index) => {
        const angle = -90 + index * 30

        ctx.beginPath()
        ctx.moveTo(CENTER.x, CENTER.y)
        ctx.arc(
          CENTER.x,
          CENTER.y,
          MID_RADIUS,
          ((angle - 15) / 180) * Math.PI,
          ((angle + 15) / 180) * Math.PI
        )
        ctx.lineTo(CENTER.x, CENTER.y)
        const selectedScaleChordIndex = this.getSelectedScaleChordIndex(chord)
        ctx.fillStyle = this.getColor(index, selectedScaleChordIndex)
        ctx.fill()
        ctx.stroke()

        ctx.font = '18px Arial'
        ctx.fillStyle = '#000000'
        ctx.fillText(
          chord,
          CENTER.x + INN_TEXT_RADIUS * Math.cos((angle / 180) * Math.PI),
          CENTER.y + INN_TEXT_RADIUS * Math.sin((angle / 180) * Math.PI)
        )
        if (selectedScaleChordIndex >= 0) {
          ctx.font = '13px Arial'
          const textAngle = angle - 10
          ctx.fillText(
            selectedScaleChordIndex + 1,
            CENTER.x + INN_SCALE_INDEX_TEXT_RADIUS * Math.cos((textAngle / 180) * Math.PI),
            CENTER.y + INN_SCALE_INDEX_TEXT_RADIUS * Math.sin((textAngle / 180) * Math.PI)
          )
        }
      })

      this.dimPart.forEach((chord, index) => {
        const angle = -90 + index * 30

        ctx.beginPath()
        ctx.moveTo(CENTER.x, CENTER.y)
        ctx.arc(
          CENTER.x,
          CENTER.y,
          DIM_RADIUS,
          ((angle - 15) / 180) * Math.PI,
          ((angle + 15) / 180) * Math.PI
        )
        ctx.lineTo(CENTER.x, CENTER.y)
        const selectedScaleChordIndex = this.getSelectedScaleChordIndex(chord)
        ctx.fillStyle = this.getColor(index, selectedScaleChordIndex)
        ctx.fill()
        ctx.stroke()

        ctx.fillStyle = '#000000'
        ctx.font = '14px Arial'
        ctx.fillText(
          chord,
          CENTER.x + DIM_TEXT_RADIUS * Math.cos((angle / 180) * Math.PI),
          CENTER.y + DIM_TEXT_RADIUS * Math.sin((angle / 180) * Math.PI)
        )
        if (selectedScaleChordIndex >= 0) {
          ctx.font = '10px Arial'
          const textAngle = angle - 10
          ctx.fillText(
            selectedScaleChordIndex + 1,
            CENTER.x + DIM_SCALE_INDEX_TEXT_RADIUS * Math.cos((textAngle / 180) * Math.PI),
            CENTER.y + DIM_SCALE_INDEX_TEXT_RADIUS * Math.sin((textAngle / 180) * Math.PI)
          )
        }
      })

      // draw inner circle
      ctx.beginPath()
      ctx.arc(CENTER.x, CENTER.y, INN_RADIUS, (0 / 180) * Math.PI, (360 / 180) * Math.PI)
      ctx.fillStyle = '#FFFFFF'
      ctx.fill()
      ctx.stroke()

      // draw main circle stroke
      ctx.strokeStyle = '#666666'
      ctx.lineWidth = 5
      ctx.beginPath()
      ctx.arc(CENTER.x, CENTER.y, OUT_RADIUS, (0 / 180) * Math.PI, (360 / 180) * Math.PI)
      ctx.stroke()
    },
    canvasClick(e) {
      // getting canvas-related coordinates
      const rect = e.target.getBoundingClientRect()
      let x = e.clientX - rect.left
      let y = e.clientY - rect.top
      // console.log({x, y})

      // transforming to polar coordinates
      x = x - CENTER.x
      y = y - CENTER.y
      let clickAngle = Math.atan2(y, x)
      clickAngle = ((clickAngle / Math.PI) * 180 + 360) % 360 // transform to [0; 360)
      const clickRadius = Math.sqrt(x * x + y * y)
      if (clickRadius < INN_RADIUS || OUT_RADIUS < clickRadius) {
        // console.log('outside of radius')
        return
      }

      // Searching for clicked scale
      let part
      if (clickRadius < DIM_RADIUS) {
        part = this.dimPart
      } else if (clickRadius < MID_RADIUS) {
        part = this.minorPart
      } else {
        part = this.majorPart
      }
      // let part = clickRadius < MID_RADIUS ? this.minorPart : this.majorPart
      if (clickAngle > 345) {
        // nasty exception for the end of circle
        this.$emit('chordClick', part[3])
      }
      part.forEach((v, index) => {
        const curAngle = (-90 + index * 30 + 360) % 360 // [0; 360)
        const diff = Math.abs(clickAngle - curAngle)
        if (diff < 15) {
          this.$emit('chordClick', v)
        }
      })
    },
  },
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss" scoped></style>
