<template>
  <div>
    <svg
      height="200"
      viewBox="0 0 110 850"
      fill="none"
      preserveAspectRatio="xMidYMid meet"
      xmlns="http://www.w3.org/2000/svg"
    >
      <circle v-if="noteScheme[7] == 1" cx="50" cy="790" r="34" fill="#3E3E3E" />
      <circle
        v-if="noteScheme[7] == 0 || noteScheme[7] == 2"
        cx="50"
        cy="790"
        r="34"
        fill="white"
        stroke="#3E3E3E"
        stroke-width="4"
      />
      <path
        v-if="noteScheme[7] == 2"
        d="M50.5 823.496C68.771 823.229 83.5 808.335 83.5 790C83.5 771.665 68.771 756.771 50.5 756.504V823.496Z"
        fill="#3E3E3E"
        stroke="#3E3E3E"
      />

      <circle v-if="noteScheme[6] == 1" cx="50" cy="706" r="34" fill="#3E3E3E" />
      <circle
        v-if="noteScheme[6] == 0 || noteScheme[6] == 2"
        cx="50"
        cy="706"
        r="34"
        fill="white"
        stroke="#3E3E3E"
        stroke-width="4"
      />
      <path
        v-if="noteScheme[6] == 2"
        d="M50 740V672C31.2223 672 16 687.222 16 706C16 724.778 31.2223 740 50 740Z"
        fill="#3E3E3E"
        stroke="#3E3E3E"
      />

      <circle v-if="noteScheme[5] == 1" cx="50" cy="622" r="34" fill="#3E3E3E" />
      <circle
        v-if="noteScheme[5] == 0"
        cx="50"
        cy="622"
        r="34"
        fill="white"
        stroke="#3E3E3E"
        stroke-width="4"
      />

      <circle v-if="noteScheme[4] == 1" cx="50" cy="538" r="34" fill="#3E3E3E" />
      <circle
        v-if="noteScheme[4] == 0"
        cx="50"
        cy="538"
        r="34"
        fill="white"
        stroke="#3E3E3E"
        stroke-width="4"
      />

      <circle v-if="noteScheme[3] == 1" cx="50" cy="370" r="34" fill="#3E3E3E" />
      <circle
        v-if="noteScheme[3] == 0"
        cx="50"
        cy="370"
        r="34"
        fill="white"
        stroke="#3E3E3E"
        stroke-width="4"
      />

      <circle v-if="noteScheme[2] == 1" cx="50" cy="286" r="34" fill="#3E3E3E" />
      <circle
        v-if="noteScheme[2] == 0"
        cx="50"
        cy="286"
        r="34"
        fill="white"
        stroke="#3E3E3E"
        stroke-width="4"
      />

      <circle v-if="noteScheme[1] == 1" cx="50" cy="202" r="34" fill="#3E3E3E" />
      <circle
        v-if="noteScheme[1] == 0"
        cx="50"
        cy="202"
        r="34"
        fill="white"
        stroke="#3E3E3E"
        stroke-width="4"
      />

      <circle v-if="noteScheme[0] == 1" cx="50" cy="50" r="40" fill="#3E3E3E" />
      <circle
        v-if="noteScheme[0] == 0 || noteScheme[0] == 2"
        cx="50"
        cy="50"
        r="40"
        fill="white"
        stroke="#3E3E3E"
        stroke-width="4"
      />
      <path
        v-if="noteScheme[0] == 2"
        d="M49.5 89.4969C27.9152 89.2291 10.5 71.6484 10.5 50C10.5 28.3516 27.9152 10.7709 49.5 10.5031V89.4969Z"
        fill="#3E3E3E"
        stroke="#3E3E3E"
        stroke-width="4"
      />

      <rect x="2" y="2" width="98" height="838" stroke="black" stroke-width="4" />
    </svg>
  </div>
</template>

<script>
export default {
  name: 'FluteInstrument',
  props: {
    note: {
      type: String,
      default: null,
    },
  },
  data() {
    return {}
  },
  computed: {
    noteScheme() {
      const note = this.note.toUpperCase()
      switch (note) {
        case 'C4':
          return [1, 1, 1, 1, 1, 1, 1, 1]
        case 'C#4':
          return [1, 1, 1, 1, 1, 1, 1, 2]
        case 'D4':
          return [1, 1, 1, 1, 1, 1, 1, 0]
        case 'D#4':
          return [1, 1, 1, 1, 1, 1, 2, 0]
        case 'E4':
          return [1, 1, 1, 1, 1, 1, 0, 0]
        case 'F4':
          return [1, 1, 1, 1, 1, 0, 1, 1]
        case 'F#4':
          return [1, 1, 1, 1, 0, 1, 1, 0]
        case 'G4':
          return [1, 1, 1, 1, 0, 0, 0, 0]
        case 'G#4':
          return [1, 1, 1, 0, 1, 1, 2, 0]
        case 'A4':
          return [1, 1, 1, 0, 0, 0, 0, 0]
        case 'A#4':
          return [1, 0, 1, 1, 1, 0, 0, 0]
        case 'B4':
          return [1, 1, 0, 0, 0, 0, 0, 0]
        case 'C5':
          return [1, 0, 1, 0, 0, 0, 0, 0]
        case 'C#5':
          return [0, 1, 1, 0, 0, 0, 0, 0]
        case 'D5':
          return [0, 0, 1, 0, 0, 0, 0, 0]
        case 'D#5':
          return [0, 0, 1, 1, 1, 1, 1, 0]
        case 'E5':
          return [0, 0, 1, 1, 1, 1, 0, 0]
        case 'F5':
          return [2, 1, 1, 1, 1, 0, 1, 0]
        case 'F#5':
          return [2, 1, 1, 1, 0, 1, 0, 0]
        case 'G5':
          return [2, 1, 1, 1, 0, 0, 0, 0]
        case 'G#5':
          return [2, 1, 1, 0, 1, 0, 0, 0]
        case 'A5':
          return [2, 1, 1, 0, 0, 0, 0, 0]
        case 'A#5':
          return [2, 1, 1, 0, 0, 1, 1, 0]
        case 'B5':
          return [2, 1, 1, 0, 1, 1, 0, 0]
        case 'C6':
          return [2, 1, 0, 0, 1, 1, 0, 0]
        case 'C#6':
          return [2, 1, 0, 1, 1, 1, 1, 1]
        case 'D6':
          return [2, 1, 0, 1, 1, 0, 1, 0]
      }
      return []
    },
  },
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped></style>
