<template>
  <div style="display: flex; flex-direction: row; justify-content: center; min-height: 20px">
    <svg
      v-for="octave in shownOctaves"
      :key="octave"
      viewBox="0 0 161 83"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <g id="Piano" clip-path="url(#clip0_2_2)">
        <rect width="161" height="83" fill="white" />
        <g
          id="C"
          @mousedown="(event) => noteOn(`C${octave}`, event)"
          @touchstart="(event) => noteOn(`C${octave}`, event)"
          @mouseup="(event) => noteOff(`C${octave}`, event)"
          @touchend="(event) => noteOff(`C${octave}`, event)"
          @mouseenter="(event) => mouseenter(`C${octave}`, event)"
          @mouseleave="(event) => mouseleave(`C${octave}`, event)"
        >
          <path
            id="Rectangle"
            d="M0.25 0.25H22.75V81C22.75 81.9665 21.9665 82.75 21 82.75H2C1.0335 82.75 0.25 81.9665 0.25 81V0.25Z"
            :fill="getFillColor(`C${octave}`)"
            stroke="black"
            stroke-width="0.5"
          />
          <text
            id="Label"
            fill="black"
            xml:space="preserve"
            style="white-space: pre"
            font-size="11"
            letter-spacing="0em"
          >
            <tspan x="4.94189" y="78.5124">C{{ octave }}</tspan>
          </text>
          <text
            v-if="showStep"
            id="Step"
            fill="black"
            xml:space="preserve"
            style="white-space: pre"
            font-size="11"
            letter-spacing="0em"
          >
            <tspan x="8.94336" y="66.4676">{{ getStep('C') }}</tspan>
          </text>
          <line
            id="Select Line"
            x1="0.5"
            y1="81.2036"
            x2="22.5"
            y2="81.2036"
            :stroke="isSelected(`C${octave}`) ? 'red' : 'black'"
            stroke-width="3"
          />
        </g>
        <g
          id="D"
          @mousedown="(event) => noteOn(`D${octave}`, event)"
          @touchstart="(event) => noteOn(`D${octave}`, event)"
          @mouseup="(event) => noteOff(`D${octave}`, event)"
          @touchend="(event) => noteOff(`D${octave}`, event)"
          @mouseenter="(event) => mouseenter(`D${octave}`, event)"
          @mouseleave="(event) => mouseleave(`D${octave}`, event)"
        >
          <path
            id="Rectangle_2"
            d="M23.25 0.25H45.75V81C45.75 81.9665 44.9665 82.75 44 82.75H25C24.0335 82.75 23.25 81.9665 23.25 81V0.25Z"
            :fill="getFillColor(`D${octave}`)"
            stroke="black"
            stroke-width="0.5"
          />
          <text
            id="Label_2"
            fill="black"
            xml:space="preserve"
            style="white-space: pre"
            font-size="11"
            letter-spacing="0em"
          >
            <tspan x="27.9902" y="78.5124">D{{ octave }}</tspan>
          </text>
          <text
            v-if="showStep"
            id="Step_2"
            fill="black"
            xml:space="preserve"
            style="white-space: pre"
            font-size="11"
            letter-spacing="0em"
          >
            <tspan x="31.9434" y="66.4676">{{ getStep('D') }}</tspan>
          </text>
          <line
            id="Select Line_2"
            x1="23.5"
            y1="81.2036"
            x2="45.5"
            y2="81.2036"
            :stroke="isSelected(`D${octave}`) ? 'red' : 'black'"
            stroke-width="3"
          />
        </g>
        <g
          id="E"
          @mousedown="(event) => noteOn(`E${octave}`, event)"
          @touchstart="(event) => noteOn(`E${octave}`, event)"
          @mouseup="(event) => noteOff(`E${octave}`, event)"
          @touchend="(event) => noteOff(`E${octave}`, event)"
          @mouseenter="(event) => mouseenter(`E${octave}`, event)"
          @mouseleave="(event) => mouseleave(`E${octave}`, event)"
        >
          <path
            id="Rectangle_3"
            d="M46.25 0.25H68.75V81C68.75 81.9665 67.9665 82.75 67 82.75H48C47.0335 82.75 46.25 81.9665 46.25 81V0.25Z"
            :fill="getFillColor(`E${octave}`)"
            stroke="black"
            stroke-width="0.5"
          />
          <text
            id="Label_3"
            fill="black"
            xml:space="preserve"
            style="white-space: pre"
            font-size="11"
            letter-spacing="0em"
          >
            <tspan x="51.6562" y="78.5124">E{{ octave }}</tspan>
          </text>
          <text
            v-if="showStep"
            id="Step_3"
            fill="black"
            xml:space="preserve"
            style="white-space: pre"
            font-size="11"
            letter-spacing="0em"
          >
            <tspan x="54.9434" y="66.4676">{{ getStep('E') }}</tspan>
          </text>
          <line
            id="Select Line_3"
            x1="46.5"
            y1="81.2036"
            x2="68.5"
            y2="81.2036"
            :stroke="isSelected(`E${octave}`) ? 'red' : 'black'"
            stroke-width="3"
          />
        </g>
        <g
          id="F"
          @mousedown="(event) => noteOn(`F${octave}`, event)"
          @touchstart="(event) => noteOn(`F${octave}`, event)"
          @mouseup="(event) => noteOff(`F${octave}`, event)"
          @touchend="(event) => noteOff(`F${octave}`, event)"
          @mouseenter="(event) => mouseenter(`F${octave}`, event)"
          @mouseleave="(event) => mouseleave(`F${octave}`, event)"
        >
          <path
            id="Rectangle_4"
            d="M69.25 0.25H91.75V81C91.75 81.9665 90.9665 82.75 90 82.75H71C70.0335 82.75 69.25 81.9665 69.25 81V0.25Z"
            :fill="getFillColor(`F${octave}`)"
            stroke="black"
            stroke-width="0.5"
          />
          <text
            id="Label_4"
            fill="black"
            xml:space="preserve"
            style="white-space: pre"
            font-size="11"
            letter-spacing="0em"
          >
            <tspan x="74.7153" y="78.5124">F{{ octave }}</tspan>
          </text>
          <text
            v-if="showStep"
            id="Step_4"
            fill="black"
            xml:space="preserve"
            style="white-space: pre"
            font-size="11"
            letter-spacing="0em"
          >
            <tspan x="77.9434" y="66.4676">{{ getStep('F') }}</tspan>
          </text>
          <line
            id="Select Line_4"
            x1="69.5"
            y1="81.2036"
            x2="91.5"
            y2="81.2036"
            :stroke="isSelected(`F${octave}`) ? 'red' : 'black'"
            stroke-width="3"
          />
        </g>
        <g
          id="G"
          @mousedown="(event) => noteOn(`G${octave}`, event)"
          @touchstart="(event) => noteOn(`G${octave}`, event)"
          @mouseup="(event) => noteOff(`G${octave}`, event)"
          @touchend="(event) => noteOff(`G${octave}`, event)"
          @mouseenter="(event) => mouseenter(`G${octave}`, event)"
          @mouseleave="(event) => mouseleave(`G${octave}`, event)"
        >
          <path
            id="Rectangle_5"
            d="M92.25 0.25H114.75V81C114.75 81.9665 113.966 82.75 113 82.75H94C93.0335 82.75 92.25 81.9665 92.25 81V0.25Z"
            :fill="getFillColor(`G${octave}`)"
            stroke="black"
            stroke-width="0.5"
          />
          <text
            id="Label_5"
            fill="black"
            xml:space="preserve"
            style="white-space: pre"
            font-size="11"
            letter-spacing="0em"
          >
            <tspan x="96.856" y="78.5124">G{{ octave }}</tspan>
          </text>
          <text
            v-if="showStep"
            id="Step_5"
            fill="black"
            xml:space="preserve"
            style="white-space: pre"
            font-size="11"
            letter-spacing="0em"
          >
            <tspan x="100.943" y="66.4676">{{ getStep('G') }}</tspan>
          </text>
          <line
            id="Select Line_5"
            x1="92.5"
            y1="81.2036"
            x2="114.5"
            y2="81.2036"
            :stroke="isSelected(`G${octave}`) ? 'red' : 'black'"
            stroke-width="3"
          />
        </g>
        <g
          id="A"
          @mousedown="(event) => noteOn(`A${octave}`, event)"
          @touchstart="(event) => noteOn(`A${octave}`, event)"
          @mouseup="(event) => noteOff(`A${octave}`, event)"
          @touchend="(event) => noteOff(`A${octave}`, event)"
          @mouseenter="(event) => mouseenter(`A${octave}`, event)"
          @mouseleave="(event) => mouseleave(`A${octave}`, event)"
        >
          <path
            id="Rectangle_6"
            d="M115.25 0.25H137.75V81C137.75 81.9665 136.966 82.75 136 82.75H117C116.034 82.75 115.25 81.9665 115.25 81V0.25Z"
            :fill="getFillColor(`A${octave}`)"
            stroke="black"
            stroke-width="0.5"
          />
          <text
            id="Label_6"
            fill="black"
            xml:space="preserve"
            style="white-space: pre"
            font-size="11"
            letter-spacing="0em"
          >
            <tspan x="120.415" y="78.5124">A{{ octave }}</tspan>
          </text>
          <text
            v-if="showStep"
            id="Step_6"
            fill="black"
            xml:space="preserve"
            style="white-space: pre"
            font-size="11"
            letter-spacing="0em"
          >
            <tspan x="123.943" y="66.4676">{{ getStep('A') }}</tspan>
          </text>
          <line
            id="Select Line_6"
            x1="115.5"
            y1="81.2036"
            x2="137.5"
            y2="81.2036"
            :stroke="isSelected(`A${octave}`) ? 'red' : 'black'"
            stroke-width="3"
          />
        </g>
        <g
          id="B"
          @mousedown="(event) => noteOn(`B${octave}`, event)"
          @touchstart="(event) => noteOn(`B${octave}`, event)"
          @mouseup="(event) => noteOff(`B${octave}`, event)"
          @touchend="(event) => noteOff(`B${octave}`, event)"
          @mouseenter="(event) => mouseenter(`B${octave}`, event)"
          @mouseleave="(event) => mouseleave(`B${octave}`, event)"
        >
          <path
            id="Rectangle_7"
            d="M138.25 0.25H160.75V81C160.75 81.9665 159.966 82.75 159 82.75H140C139.034 82.75 138.25 81.9665 138.25 81V0.25Z"
            :fill="getFillColor(`B${octave}`)"
            stroke="black"
            stroke-width="0.5"
          />
          <text
            id="Label_7"
            fill="black"
            xml:space="preserve"
            style="white-space: pre"
            font-size="11"
            letter-spacing="0em"
          >
            <tspan x="143.366" y="78.5124">B{{ octave }}</tspan>
          </text>
          <text
            v-if="showStep"
            id="Step_7"
            fill="black"
            xml:space="preserve"
            style="white-space: pre"
            font-size="11"
            letter-spacing="0em"
          >
            <tspan x="146.943" y="66.4676">{{ getStep('B') }}</tspan>
          </text>
          <line
            id="Select Line_7"
            x1="138.5"
            y1="81.2036"
            x2="160.5"
            y2="81.2036"
            :stroke="isSelected(`B${octave}`) ? 'red' : 'black'"
            stroke-width="3"
          />
        </g>
        <g
          id="C#"
          @mousedown="(event) => noteOn(`C#${octave}`, event)"
          @touchstart="(event) => noteOn(`C#${octave}`, event)"
          @mouseup="(event) => noteOff(`C#${octave}`, event)"
          @touchend="(event) => noteOff(`C#${octave}`, event)"
          @mouseenter="(event) => mouseenter(`C#${octave}`, event)"
          @mouseleave="(event) => mouseleave(`C#${octave}`, event)"
        >
          <path
            id="Rectangle_8"
            d="M15 0H28V54.7286C28 55.2809 27.5523 55.7286 27 55.7286H16C15.4477 55.7286 15 55.2809 15 54.7286V0Z"
            :fill="getFillColor(`C#${octave}`)"
            stroke="black"
            stroke-width="2"
          />
          <line
            id="Select Line_8"
            x1="15"
            y1="54.2286"
            x2="28"
            y2="54.2286"
            :stroke="isSelected(`C#${octave}`) ? 'red' : 'black'"
            stroke-width="3"
          />
          <text
            id="Label_8"
            fill="black"
            xml:space="preserve"
            style="white-space: pre"
            font-size="6"
            letter-spacing="0em"
          >
            <tspan x="16.0303" y="50.5513">C#{{ octave }}</tspan>
          </text>
          <text
            v-if="showStep"
            id="Step_8"
            fill="black"
            xml:space="preserve"
            style="white-space: pre"
            font-size="7"
            letter-spacing="0em"
          >
            <tspan x="19.873" y="42.3345">{{ getStep('C#') }}</tspan>
          </text>
        </g>
        <g
          id="D#"
          @mousedown="(event) => noteOn(`D#${octave}`, event)"
          @touchstart="(event) => noteOn(`D#${octave}`, event)"
          @mouseup="(event) => noteOff(`D#${octave}`, event)"
          @touchend="(event) => noteOff(`D#${octave}`, event)"
          @mouseenter="(event) => mouseenter(`D#${octave}`, event)"
          @mouseleave="(event) => mouseleave(`D#${octave}`, event)"
        >
          <path
            id="Rectangle_9"
            d="M42 0H55V54.7286C55 55.2809 54.5523 55.7286 54 55.7286H43C42.4477 55.7286 42 55.2809 42 54.7286V0Z"
            :fill="getFillColor(`D#${octave}`)"
            stroke="black"
            stroke-width="2"
          />
          <line
            id="Select Line_9"
            x1="42"
            y1="54.2286"
            x2="55"
            y2="54.2286"
            :stroke="isSelected(`D#${octave}`) ? 'red' : 'black'"
            stroke-width="3"
          />
          <text
            id="Label_9"
            fill="black"
            xml:space="preserve"
            style="white-space: pre"
            font-size="6"
            letter-spacing="0em"
          >
            <tspan x="43.0566" y="50.5513">D#{{ octave }}</tspan>
          </text>
          <text
            v-if="showStep"
            id="Step_9"
            fill="black"
            xml:space="preserve"
            style="white-space: pre"
            font-size="7"
            letter-spacing="0em"
          >
            <tspan x="46.873" y="42.3345">{{ getStep('D#') }}</tspan>
          </text>
        </g>
        <g
          id="F#"
          @mousedown="(event) => noteOn(`F#${octave}`, event)"
          @touchstart="(event) => noteOn(`F#${octave}`, event)"
          @mouseup="(event) => noteOff(`F#${octave}`, event)"
          @touchend="(event) => noteOff(`F#${octave}`, event)"
          @mouseenter="(event) => mouseenter(`F#${octave}`, event)"
          @mouseleave="(event) => mouseleave(`F#${octave}`, event)"
        >
          <path
            id="Rectangle_10"
            d="M84 0H97V54.7286C97 55.2809 96.5523 55.7286 96 55.7286H85C84.4477 55.7286 84 55.2809 84 54.7286V0Z"
            :fill="getFillColor(`F#${octave}`)"
            stroke="black"
            stroke-width="2"
          />
          <line
            id="Select Line_10"
            x1="84"
            y1="54.2286"
            x2="97"
            y2="54.2286"
            :stroke="isSelected(`F#${octave}`) ? 'red' : 'black'"
            stroke-width="3"
          />
          <text
            id="Label_10"
            fill="black"
            xml:space="preserve"
            style="white-space: pre"
            font-size="6"
            letter-spacing="0em"
          >
            <tspan x="85.4521" y="50.5513">F#{{ octave }}</tspan>
          </text>
          <text
            v-if="showStep"
            id="Step_10"
            fill="black"
            xml:space="preserve"
            style="white-space: pre"
            font-size="7"
            letter-spacing="0em"
          >
            <tspan x="88.873" y="42.3345">{{ getStep('F#') }}</tspan>
          </text>
        </g>
        <g
          id="G#"
          @mousedown="(event) => noteOn(`G#${octave}`, event)"
          @touchstart="(event) => noteOn(`G#${octave}`, event)"
          @mouseup="(event) => noteOff(`G#${octave}`, event)"
          @touchend="(event) => noteOff(`G#${octave}`, event)"
          @mouseenter="(event) => mouseenter(`G#${octave}`, event)"
          @mouseleave="(event) => mouseleave(`G#${octave}`, event)"
        >
          <path
            id="Rectangle_11"
            d="M109 0H122V54.7286C122 55.2809 121.552 55.7286 121 55.7286H110C109.448 55.7286 109 55.2809 109 54.7286V0Z"
            :fill="getFillColor(`G#${octave}`)"
            stroke="black"
            stroke-width="2"
          />
          <line
            id="Select Line_11"
            x1="109"
            y1="54.2286"
            x2="122"
            y2="54.2286"
            :stroke="isSelected(`G#${octave}`) ? 'red' : 'black'"
            stroke-width="3"
          />
          <text
            id="Label_11"
            fill="black"
            xml:space="preserve"
            style="white-space: pre"
            font-size="6"
            letter-spacing="0em"
          >
            <tspan x="109.983" y="50.5513">G#{{ octave }}</tspan>
          </text>
          <text
            v-if="showStep"
            id="Step_11"
            fill="black"
            xml:space="preserve"
            style="white-space: pre"
            font-size="7"
            letter-spacing="0em"
          >
            <tspan x="113.873" y="42.3345">{{ getStep('G#') }}</tspan>
          </text>
        </g>
        <g
          id="A#"
          @mousedown="(event) => noteOn(`A#${octave}`, event)"
          @touchstart="(event) => noteOn(`A#${octave}`, event)"
          @mouseup="(event) => noteOff(`A#${octave}`, event)"
          @touchend="(event) => noteOff(`A#${octave}`, event)"
          @mouseenter="(event) => mouseenter(`A#${octave}`, event)"
          @mouseleave="(event) => mouseleave(`A#${octave}`, event)"
        >
          <path
            id="Rectangle_12"
            d="M134 0H147V54.7286C147 55.2809 146.552 55.7286 146 55.7286H135C134.448 55.7286 134 55.2809 134 54.7286V0Z"
            :fill="getFillColor(`A#${octave}`)"
            stroke="black"
            stroke-width="2"
          />
          <line
            id="Select Line_12"
            x1="134"
            y1="54.2286"
            x2="147"
            y2="54.2286"
            :stroke="isSelected(`A#${octave}`) ? 'red' : 'black'"
            stroke-width="3"
          />
          <text
            id="Label_12"
            fill="black"
            xml:space="preserve"
            style="white-space: pre"
            font-size="6"
            letter-spacing="0em"
          >
            <tspan x="135.186" y="50.5513">A#{{ octave }}</tspan>
          </text>
          <text
            v-if="showStep"
            id="Step_12"
            fill="black"
            xml:space="preserve"
            style="white-space: pre"
            font-size="7"
            letter-spacing="0em"
          >
            <tspan x="138.873" y="42.3345">{{ getStep('A#') }}</tspan>
          </text>
        </g>
      </g>
      <defs>
        <clipPath id="clip0_2_2">
          <rect width="161" height="83" fill="white" />
        </clipPath>
      </defs>
    </svg>
  </div>
</template>

<script>
import _ from 'lodash'
import * as Tone from 'tone'
import { emitter } from '@/emitter'
import music from '@/music'

export default {
  name: 'PianoInstrument',
  props: {
    withMidi: {
      type: Boolean,
      default: false,
    },
    synth: {
      type: Object,
      default: null,
    },
    playOnPress: {
      type: Boolean,
      default: false,
    },
    colors: {
      type: Object,
      default: Object,
    },
    scale: {
      type: Array,
      default: () => [],
    },
    showStep: {
      type: Boolean,
      default: false,
    },
    allowSelect: {
      type: Boolean,
      default: false,
    },
    selectedNotes: {
      type: Array,
      default: Array,
    },
    startNote: {
      type: String,
      default: 'E3',
    },
    endNote: {
      type: String,
      default: 'B5',
    },
  },
  data() {
    return {
      audio: null,
    }
  },
  computed: {
    piano() {
      return music.getAllFullNotesRange(this.startNote, this.endNote)
    },
    shownOctaves() {
      return _.range(Number(this.startNote.slice(-1)), Number(this.endNote.slice(-1)) + 1)
    },
    selectedNotesLocal: {
      get() {
        return this.selectedNotes
      },
      set(value) {
        this.$emit('update:selectedNotes', value)
      },
    },
  },
  created() {
    if (this.withMidi) {
      emitter.on('midiNoteOn', this.noteOn)
      emitter.on('midiNoteOff', this.noteOff)
    }
  },
  destroyed() {
    if (this.withMidi) {
      emitter.off('midiNoteOn', this.noteOn)
      emitter.off('midiNoteOff', this.noteOff)
    }
    this.synth && this.synth.releaseAll()
  },
  methods: {
    mouseenter(note, event) {
      if (event.buttons !== 0) {
        this.noteOn(note)
      }
    },
    mouseleave(note, event) {
      if (event.buttons !== 0) {
        this.noteOff(note)
      }
    },
    noteOn(note, event) {
      // preventDefault is need for mobile devices, so if it was triggered by touchstart, it will not trigger mousedown
      event && event.preventDefault()
      if (this.playOnPress) {
        this.playNote(note)
      }
      this.$emit('noteOn', note)

      if (this.allowSelect) {
        if (this.selectedNotesLocal.includes(note)) {
          this.selectedNotesLocal = this.selectedNotesLocal.filter((x) => x !== note)
        } else {
          this.selectedNotesLocal = [...this.selectedNotesLocal, note]
        }
      }
    },
    noteOff(note, event) {
      // preventDefault is need for mobile devices, so if it was triggered by touchend, it will not trigger mouseup
      event && event.preventDefault()
      this.stopNote(note)
      this.$emit('noteOff', note)
    },
    getStep(noteWithoutOctave) {
      return this.scale.indexOf(noteWithoutOctave) + 1 || ''
    },
    getFillColor(note) {
      return this.colors[note] || this.colors[note.slice(0, -1)] || 'white'
    },
    isSelected(note) {
      return this.selectedNotesLocal.includes(note)
    },
    playNote(note, length = 2) {
      if (this.synth) {
        this.synth.triggerAttack(note, Tone.now())
        if (length) {
          this.synth.triggerRelease(note, Tone.now() + length)
        }
      }
    },
    stopNote(note) {
      if (this.synth) {
        this.synth.triggerRelease(note, Tone.now())
      }
    },
    play(noteList, length = 2) {
      noteList.forEach((note) => {
        this.playNote(note, length)
      })
    },
  },
}
</script>
<style scoped>
svg {
  cursor: pointer;
}
svg text {
  user-select: none;
}
</style>
