<template>
  <table class="ukulele">
    <tr v-for="(row, rowi) in ukulele" :key="rowi">
      <td
        v-for="note in row"
        :key="note"
        align="left"
        :style="{
          'background-color': colors[note] || colors[note.slice(0, -1)],
        }"
        @click="noteClick(note)"
      >
        {{ note }}
        <span v-if="showStep">
          {{ scale.indexOf(note.slice(0, -1)) + 1 || '' }}
        </span>

        <input v-if="allowSelect" v-model="selectedNotesLocal" type="checkbox" :value="note" />
      </td>
    </tr>
    <tr>
      <td v-for="(item, index) in ukulele[0]" :key="index">
        {{ index }}
      </td>
    </tr>
  </table>
</template>

<script>
import music from '@/music'

export default {
  name: 'UkuleleInstrument',
  props: {
    colors: {
      type: Object,
      default: Object,
    },
    scale: {
      type: Array,
      default: () => [],
    },
    showStep: {
      type: Boolean,
      default: false,
    },
    allowSelect: {
      type: Boolean,
      default: false,
    },
    selectedNotes: {
      type: Array,
      default: Array,
    },
    withAudio: {
      type: Boolean,
      default: true,
    },
  },
  data() {
    const ukulele = [
      music.getAllFullNotesRange('A4', music.noteIncr('A4', 12)),
      music.getAllFullNotesRange('E4', music.noteIncr('E4', 12)),
      music.getAllFullNotesRange('C4', music.noteIncr('C4', 12)),
      music.getAllFullNotesRange('G4', music.noteIncr('G4', 12)),
    ]

    return {
      ukulele,
      audio: null,
    }
  },
  computed: {
    selectedNotesLocal: {
      get() {
        return this.selectedNotes
      },
      set(value) {
        this.$emit('update:selectedNotes', value)
      },
    },
  },
  mounted() {
    if (this.withAudio) {
      const newAudio = {}
      const audioRange = music.getAllFullNotesRange('E3', music.noteIncr('E3', 37))
      audioRange.forEach((note, index) => {
        newAudio[note] = new Audio(require(`@/assets/guitar/${index + 1}.mp3`).default) // index 1 = E3
      })
      this.audio = newAudio
    } else {
      this.audio = {}
    }
  },
  methods: {
    noteClick(note) {
      this.playNote(note)
      this.$emit('noteClick', note)
    },
    playNote(note) {
      if (note in this.audio) {
        const audio = this.audio[note]
        audio.pause()
        audio.currentTime = 0
        audio.play()
      } else {
        console.log(`No sound for '${note}'`)
      }
    },
    play(noteList) {
      noteList.forEach((note) => {
        this.playNote(note)
      })
    },
  },
}
</script>
<style scoped>
.ukulele td {
  font-weight: bold;
  margin: 0;
  border: 1px solid black;
  width: 60px;
  font-size: 0.8em;
}

.ukulele td:first-child {
  border-right: 10px solid black;
}
</style>
