<template>
  <div>
    <nav class="navbar header has-shadow is-primary" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a class="navbar-item" href="/">
          <img src="~assets/logo.png" alt="logo" height="28" />
        </a>

        <div class="navbar-burger">
          <span />
          <span />
          <span />
        </div>
      </div>
    </nav>

    <section class="main-content columns">
      <aside class="column is-3 section">
        <p class="menu-label">General</p>
        <ul class="menu-list">
          <li><NuxtLink to="/" exact-active-class="is-active">Home</NuxtLink></li>
          <li><NuxtLink to="/settings" exact-active-class="is-active">Settings</NuxtLink></li>
        </ul>
        <p class="menu-label">Helpers</p>
        <ul class="menu-list">
          <li><NuxtLink to="/piano-ar" exact-active-class="is-active">Piano AR</NuxtLink></li>
          <li><NuxtLink to="/scales" exact-active-class="is-active">Scales</NuxtLink></li>
          <li>
            <NuxtLink to="/determine-scale" exact-active-class="is-active"
              >Determine scale</NuxtLink
            >
          </li>
          <li><NuxtLink to="/chords" exact-active-class="is-active">Chords</NuxtLink></li>
          <li><NuxtLink to="/tuner" exact-active-class="is-active">Tuner</NuxtLink></li>
          <li><NuxtLink to="/determine-tempo" exact-active-class="is-active">Tempo</NuxtLink></li>
          <li><NuxtLink to="/flute-helper" exact-active-class="is-active">Flute</NuxtLink></li>
        </ul>
        <p class="menu-label">Trainers</p>
        <ul class="menu-list">
          <li>
            <NuxtLink to="/note-trainer" exact-active-class="is-active">Note Trainer</NuxtLink>
          </li>
          <li>
            <NuxtLink to="/scale-trainer" exact-active-class="is-active">Scale Trainer</NuxtLink>
          </li>
          <li><NuxtLink to="/guess-note" exact-active-class="is-active">Guess note</NuxtLink></li>
        </ul>
        <p class="menu-label">Visualizers</p>
        <ul class="menu-list">
          <li>
            <NuxtLink to="/frequency-visualizer" exact-active-class="is-active"
              >Frequency visualizer</NuxtLink
            >
          </li>
          <li>
            <NuxtLink to="/harmonic-visualizer" exact-active-class="is-active"
              >Harmonic visualizer</NuxtLink
            >
          </li>
        </ul>
        <p class="menu-label">Other</p>
        <ul class="menu-list">
          <li><NuxtLink to="/sequence" exact-active-class="is-active">Sequence</NuxtLink></li>
        </ul>
      </aside>

      <section class="container column is-9" style="padding: 20px">
        <Nuxt />
      </section>
    </section>
  </div>
</template>

<script>
export default {
  name: 'DefaultLayout',
  data() {
    return {}
  },
}
</script>
