<template>
  <div class="vertical-centered-column">
    <div class="level">
      <b-select v-model="root">
        <option v-for="note in allNotes" :key="note" :value="note">
          {{ note }}
        </option>
      </b-select>

      <b-select v-model="chordQuality">
        <option
          v-for="patternName in Object.keys(patterns)"
          :key="patternName"
          :value="patternName"
        >
          {{ root }}{{ patternName }}
        </option>
      </b-select>
      <NuxtLink :to="'/chords?chord=' + root.replace('#', '%23') + chordQuality">🔗</NuxtLink>
    </div>
    <div>
      {{ chord }}
    </div>

    <guitar-instrument
      v-if="instrument === 'guitar'"
      ref="instrument"
      :colors="colors"
      :show-step="false"
    >
    </guitar-instrument>

    <piano-instrument
      v-if="instrument === 'piano'"
      ref="instrument"
      style="height: 150px; width: 100%"
      :colors="colors"
      :show-step="false"
      :with-midi="true"
      :play-on-press="playOnPress"
      :synth="synth"
    >
    </piano-instrument>

    <ukulele-instrument
      v-if="instrument === 'ukulele'"
      ref="instrument"
      :colors="colors"
      :show-step="false"
    >
    </ukulele-instrument>
  </div>
</template>

<script>
import { mapState, mapGetters } from 'vuex'
import GuitarInstrument from '@/components/instruments/GuitarInstrument'
import PianoInstrument from '@/components/instruments/PianoInstrument'
import UkuleleInstrument from '@/components/instruments/UkuleleInstrument'
import music from '@/music'
import { synth } from '~/components/synthesizers/PolySynth'

export default {
  name: 'Chords',
  components: { UkuleleInstrument, PianoInstrument, GuitarInstrument },
  data() {
    return {
      allNotes: music.allNotes,
      root: 'E',
      chordQuality: '',
      synth,
    }
  },
  computed: {
    ...mapState(['instrument', 'playOnPress']),
    ...mapGetters(['palette']),
    colors() {
      const result = {}
      this.chord.forEach((note, index) => {
        result[note] = this.palette[index]
      })
      return result
    },
    chord() {
      return music.getChordNotes(this.root, this.chordQuality)
    },
    patterns() {
      return music.patterns
    },
  },
  mounted() {
    if (this.$route.query.chord) {
      if (this.$route.query.chord[1] === '#') {
        this.root = this.$route.query.chord.slice(0, 2).toUpperCase()
        this.chordQuality = this.$route.query.chord.slice(2)
      } else {
        this.root = this.$route.query.chord[0].toUpperCase()
        this.chordQuality = this.$route.query.chord.slice(1)
      }
    }
  },
  methods: {
    chordClick(chordQuality) {
      if (this.playOnPress && music.patterns[chordQuality]) {
        const noteList = music.getChordFullNotes(this.root + '4', chordQuality)
        // console.log(noteList)
        this.$refs.instrument.play(noteList)
      }
    },
  },
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.piano {
  margin: 1em auto;
}
.guitar {
  margin: 1em auto;
}
.ukulele {
  margin: 1em auto;
}

td {
  font-weight: bold;
  margin: 0;
}
</style>
