<template>
  <div class="vertical-centered-column">
    <div>Or press any button on your piano in tempo</div>

    <div>Your tempo: {{ tempo }}</div>

    <div>
      <b-button @mousedown="noteOn">Click few times to get tempo</b-button>
    </div>
  </div>
</template>

<script>
import { emitter } from '@/emitter'

const BUFFER_SIZE = 5 // amount of click to use for calculation
const RESET_TIME_DELTA = 2000 // if there were no clicks during this time then reset the buffer

export default {
  name: 'DetermineTempo',
  data() {
    return {
      clickTimeList: [],
    }
  },
  computed: {
    tempo() {
      if (this.clickTimeList.length <= 1) {
        return null
      }
      const diffs = this.clickTimeList.slice(1).map((value, index) => {
        return value - this.clickTimeList[index]
      })
      const avgDelta = diffs.reduce((acc, v) => acc + v) / diffs.length

      return Math.round(60 / (avgDelta / 1000))
    },
  },
  created() {
    emitter.on('midiNoteOn', this.noteOn)
  },
  destroyed() {
    emitter.off('midiNoteOn', this.noteOn)
  },
  methods: {
    noteOn(event) {
      // preventDefault is needed so on mobile phone browser won't zoom on double click
      event.preventDefault()
      if (Date.now() - this.clickTimeList[this.clickTimeList.length - 1] > RESET_TIME_DELTA) {
        this.clickTimeList = [Date.now()]
      } else {
        this.clickTimeList = this.clickTimeList.slice(-BUFFER_SIZE + 1).concat(Date.now())
      }
    },
  },
}
</script>
<style scoped></style>
