<template>
  <div class="home vertical-centered-column">
    <guitar-instrument
      v-if="instrument === 'guitar'"
      :colors="colors"
      :selected-notes.sync="selectedNotes"
      :allow-select="true"
      :show-step="!!selectedScale"
      :scale="selectedScale"
      @noteClick="noteClick"
    >
    </guitar-instrument>
    <piano-instrument
      v-if="instrument === 'piano'"
      ref="piano"
      style="height: 140px; width: 100%"
      :colors="colors"
      :allow-select="true"
      :selected-notes.sync="selectedNotes"
      :show-step="!!selectedScale"
      :scale="selectedScale"
      :with-midi="true"
      start-note="C1"
      end-note="B5"
      :synth="synth"
      :play-on-press="playOnPress"
      @noteOn="noteOn"
    >
    </piano-instrument>
    <ukulele-instrument
      v-if="instrument === 'ukulele'"
      :colors="colors"
      :selected-notes.sync="selectedNotes"
      :allow-select="true"
      :show-step="!!selectedScale"
      :scale="selectedScale"
    >
    </ukulele-instrument>

    <div>
      <button v-if="!!history.length" @click="reset">reset</button>
    </div>

    <div>Selected scale: {{ selectedScale }}</div>

    <div style="display: flex; justify-content: center">
      <div style="margin-right: 40px">
        <p>Suggested Scales: {{ historicallyMatchingScales.length || 'None' }}</p>
        <p><input v-model="selectedScale" type="radio" :value="null" />All</p>
        <p v-for="{ scale, estimate, colors } in historicallyMatchingScales" :key="scale.name">
          <input v-model="selectedScale" type="radio" :value="scale.notes" />
          <NuxtLink :to="'/scales?scale=' + scale.name.replace('#', '%23').replace(' ', '')">
            {{ scale.name }}
          </NuxtLink>
          {{ estimate }}
          {{ scale.notes }}
          <piano-instrument
            style="height: 100px"
            :colors="colors"
            start-note="C4"
            end-note="B4"
          ></piano-instrument>
        </p>
      </div>

      <div style="margin-right: 40px">
        <p>Matching Scales: {{ matchingScales.length || 'None' }}</p>
        <p><input v-model="selectedScale" type="radio" :value="null" /> All</p>
        <p v-for="scale in matchingScales" :key="scale.name">
          <input v-model="selectedScale" type="radio" :value="scale.notes" />
          <NuxtLink :to="'/scales?scale=' + scale.name.replace('#', '%23').replace(' ', '')">
            {{ scale.name }}
          </NuxtLink>
          {{ scale.notes }}
          <piano-instrument
            style="width: 120px"
            :colors="greens(scale.notes)"
            start-note="C#4"
            end-note="F#4"
          ></piano-instrument>
        </p>
      </div>

      <div>
        <p>Matching chords: {{ matchingChords.length || 'None' }}</p>
        <p v-for="chord in matchingChords" :key="chord.name">
          <NuxtLink :to="'/chords?chord=' + chord.name.replace('#', '%23').replace(' ', '')">
            {{ chord.name }}
          </NuxtLink>
          {{ chord.notes }}
        </p>
      </div>
    </div>
  </div>
</template>

<script>
import _ from 'lodash'
import { mapState, mapGetters } from 'vuex'
import GuitarInstrument from '@/components/instruments/GuitarInstrument'
import PianoInstrument from '@/components/instruments/PianoInstrument'
import UkuleleInstrument from '@/components/instruments/UkuleleInstrument'
import { emitter } from '@/emitter'
import music from '@/music'
import * as colorsModule from '@/utils/colors'
import { synth } from '~/components/synthesizers/PolySynth'

export default {
  name: 'DetermineScale',
  components: {
    UkuleleInstrument,
    PianoInstrument,
    GuitarInstrument,
  },
  data() {
    const allScales = []
    music.allNotes.forEach((note) => {
      allScales.push({
        name: `${note} minor`,
        notes: music.getScale(note, 'minor'),
      })
    })
    music.allNotes.forEach((note) => {
      allScales.push({
        name: `${note} major`,
        notes: music.getScale(note, 'major'),
      })
    })

    const allChords = []
    music.allNotes.forEach((note) => {
      Object.keys(music.patterns).forEach((quality) => {
        allChords.push({
          name: `${note}${quality}`,
          notes: music.getChordNotes(note, quality),
        })
      })
    })
    console.log(Object.keys(music.patterns))

    return {
      selectedNotes: [],
      selectedScale: null,
      allScales,
      allChords,
      history: [],
      historyLength: 20,
      synth,
    }
  },
  computed: {
    ...mapState(['instrument', 'playOnPress']),
    ...mapGetters(['palette']),
    selectedNotesWithoutOctave() {
      return _.sortBy(this.selectedNotes, [
        (note) => note.slice(-1),
        (note) => music.allNotes.indexOf(note.slice(0, -1)),
      ]).map((note) => note.slice(0, -1))
    },
    colors() {
      const result = {}
      if (!this.selectedScale) {
        this.matchingScales.forEach((scale) => {
          scale.notes.forEach((pitch) => {
            result[pitch] = colorsModule.green
          })
        })
      } else {
        this.selectedScale.forEach((pitch, index) => {
          result[pitch] = this.palette[index]
        })
      }
      return result
    },
    historicallyMatchingScales() {
      // remove scales from history notes: this.history.map(note => note.withoutOctave())
      // this.allScales
      const historyWithoutOctaves = this.history.map((note) => note.slice(0, -1))
      console.log(historyWithoutOctaves)
      const scaleEstimates = this.allScales.map((scale) => {
        return historyWithoutOctaves.reduce(
          (accum, note) => (scale.notes.includes(note) ? accum + 1 : accum),
          0
        )
      })
      console.log(scaleEstimates)
      // debugger;

      // _.sortBy()
      const scalesSorted = _.zipWith(this.allScales, scaleEstimates, (scale, estimate) => {
        return { scale, estimate, colors: this.greens(scale.notes) }
      })
      scalesSorted.sort((a, b) => b.estimate - a.estimate)
      console.log({ scalesSorted })
      return scalesSorted
      // return scalesSorted.map(({scale, estimate}) => scale)
    },
    matchingScales() {
      let matches = _.filter(this.allScales, (scale) => {
        return this.selectedNotesWithoutOctave.every((note) => scale.notes.includes(note))
      })
      matches = _.sortBy(matches, [
        (scale) => scale.notes.length - this.selectedNotes.length,
        (scale) => !(this.selectedNotesWithoutOctave[0] === scale.notes[0]),
      ])
      return matches
    },
    matchingChords() {
      let matches = _.filter(this.allChords, (chord) => {
        return this.selectedNotesWithoutOctave.every((note) => chord.notes.includes(note))
      })
      matches = _.sortBy(matches, [
        (chord) => chord.notes.length - this.selectedNotes.length,
        (chord) => !(this.selectedNotesWithoutOctave[0] === chord.notes[0]),
      ])
      return matches
    },
  },
  created() {
    emitter.on('midiNoteOn', this.noteOn)
    emitter.on('midiNoteOff', this.noteOff)
  },
  destroyed() {
    emitter.off('midiNoteOn', this.noteOn)
    emitter.off('midiNoteOff', this.noteOff)
  },
  methods: {
    greens(noteList) {
      const colors = {}
      noteList.forEach((note, i) => (colors[note] = this.palette[i]))
      return colors
    },
    noteClick(note) {
      this.history = [...this.history.slice(-this.historyLength), note]
    },
    noteOn(note) {
      if (!this.selectedNotes.includes(note)) {
        this.selectedNotes = [...this.selectedNotes, note]
      }
      this.history = [...this.history.slice(-this.historyLength), note]
    },
    noteOff(note) {
      if (this.selectedNotes.includes(note)) {
        const newNotes = [...this.selectedNotes]
        _.remove(newNotes, (x) => x === note)
        this.selectedNotes = newNotes
      }
    },
    reset() {
      this.history = []
      this.selectedNotes = []
    },
  },
}
</script>
<style scoped>
.piano {
  margin: 1em auto;
}

.guitar {
  margin: 1em auto;
}

.ukulele {
  margin: 1em auto;
}
</style>
