<template>
  <div class="vertical-centered-column">
    <div>
      Supported range: {{ supportedRange[0] }} -
      {{ supportedRange[supportedRange.length - 1] }}
      <div>
        Sequence:
        <input v-model="sequence" type="text" @change="updateNotation" />
        <a href="#" @click="clear">clear</a>
      </div>
    </div>

    <div id="notation">
      <canvas id="notationCanvas" height="150" width="800"></canvas>
    </div>

    <div style="display: flex; flex-direction: row; max-width: 800px; margin: auto">
      <div
        v-for="(note, index) in sequenceList"
        :key="note + index"
        style="display: flex; flex-direction: column; margin-right: 5px"
      >
        {{ note }}
        <flute-instrument style="" :note="note"> </flute-instrument>
      </div>
    </div>
    <piano-instrument
      ref="piano"
      style="height: 100px; width: 100%"
      :start-note="supportedRange[0]"
      :end-note="supportedRange[supportedRange.length - 1]"
      :show-step="false"
      :with-midi="true"
      :synth="synth"
      :play-on-press="playOnPress"
      @noteOn="noteOn"
    >
    </piano-instrument>
  </div>
</template>

<script>
import Vex from 'vexflow'
import { mapState } from 'vuex'
import FluteInstrument from '@/components/instruments/FluteInstrument'
import PianoInstrument from '@/components/instruments/PianoInstrument'
import music from '@/music'
import { synth } from '~/components/synthesizers/PolySynth'

export default {
  name: 'FluteHelper',
  components: { FluteInstrument, PianoInstrument },
  data() {
    return {
      sequence: 'D4 G4 A#4 A4 G4 D5 C5 A4 D4 G4 A#4 A4 F#4 A4 D4',
      supportedRange: music.getAllFullNotesRange('C4', 'C6'),
      synth,
    }
  },
  computed: {
    ...mapState(['playOnPress']),
    sequenceList() {
      return this.sequence
        .split(/ +/)
        .filter((x) => !!x)
        .map((note) => {
          if (isNaN(note[note.length - 1])) {
            return `${note}4`
          } else {
            return note
          }
        })
    },
  },
  mounted() {
    this.updateNotation()
  },
  methods: {
    clear() {
      this.sequence = ''
      this.updateNotation()
    },
    noteOn(note) {
      if (!this.supportedRange.includes(note)) {
        console.log(`Note ${note} is not in range`)
        return
      }
      if (this.sequence) {
        this.sequence += ' ' + note
      } else {
        this.sequence += note
      }
      this.updateNotation()
    },
    updateNotation() {
      if (!this.sequence) {
        return
      }

      const canvas = document.getElementById('notationCanvas')
      const context = canvas.getContext('2d')
      context.clearRect(0, 0, canvas.width, canvas.height)
      const renderer = new Vex.Flow.Renderer(canvas, Vex.Flow.Renderer.Backends.CANVAS)
      const ctx = renderer.getContext()
      const stave = new Vex.Flow.Stave(10, 0, 750)
      stave.addClef('treble').setContext(ctx).draw()

      // prepare notes
      const noteList = this.sequence.split(/ +/).map((note) => {
        if (isNaN(note[note.length - 1])) {
          return `${note}/4`
        } else {
          return note.slice(0, -1) + '/' + note[note.length - 1]
        }
      })
      console.log(noteList)
      const notes = noteList.map((note) => {
        const result = new Vex.Flow.StaveNote({ keys: [note], duration: 'q' })
        if (note[1] === '#') {
          result.addAccidental(0, new Vex.Flow.Accidental('#'))
        }
        if (note[1] === 'b') {
          result.addAccidental(0, new Vex.Flow.Accidental('b'))
        }
        return result
      })

      // Create a voice in 4/4
      const voice = new Vex.Flow.Voice({
        num_beats: 4,
        beat_value: 4,
        resolution: Vex.Flow.RESOLUTION,
      })
      voice.setStrict(false) // turn off tick counter
      voice.addTickables(notes) // Add notes to voice
      // Format and justify the notes to 700 pixels
      const formatter = new Vex.Flow.Formatter().joinVoices([voice])
      formatter.format([voice], 700)
      voice.draw(ctx, stave) // Render voice
    },
  },
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.piano {
  margin: 1em auto;
}
</style>
