<template>
  <div class="vertical-centered-column">
    <div class="block">
      It analyses frequency of the pressed notes and apply sum on their sinus wave.
    </div>
    <div class="block">
      <b-checkbox v-model="drawIndividual">Draw individual</b-checkbox>
      <b-checkbox v-model="drawSum">Draw sum</b-checkbox>
    </div>
    <div>
      <canvas
        ref="canvas"
        width="700"
        height="400"
        style="border: 1px solid black; background: #eee"
      >
      </canvas>
    </div>

    <piano-instrument
      ref="piano"
      style="height: 140px; width: 100%"
      start-note="C3"
      end-note="B4"
      :colors="colors"
      :selected-notes="selectedNotes"
      :show-step="false"
      :with-midi="false"
      @noteOn="noteOn"
    >
    </piano-instrument>
  </div>
</template>

<script>
import _ from 'lodash'
import PianoInstrument from '@/components/instruments/PianoInstrument'
import { emitter } from '@/emitter'
import music from '@/music'
import * as colorsModule from '@/utils/colors'

const STEP_RATIO = 1.0594630943592953
const C3_WAVE_LENGTH = 263.74
const NOTES_WAVE_LENGTH_LIST = {}
music.getAllFullNotesRange('C3', 'B4').forEach((n, i) => {
  NOTES_WAVE_LENGTH_LIST[n] = C3_WAVE_LENGTH / STEP_RATIO ** i
})

export default {
  name: 'FrequencyVisualizer',
  components: { PianoInstrument },
  data() {
    return {
      selectedNotes: [],
      drawIndividual: false,
      drawSum: true,
    }
  },
  computed: {
    colors() {
      const colors = {}
      this.selectedNotes.forEach((note) => (colors[note] = colorsModule.gray))
      return colors
    },
  },
  watch: {
    selectedNotes() {
      this.draw()
    },
    drawIndividual() {
      this.draw()
    },
    drawSum() {
      this.draw()
    },
  },
  mounted() {
    this.draw()
  },

  created() {
    emitter.on('midiNoteOn', this.noteOn)
    emitter.on('midiNoteOff', this.noteOff)
  },
  destroyed() {
    emitter.off('midiNoteOn', this.noteOn)
    emitter.off('midiNoteOff', this.noteOff)
  },
  methods: {
    getWaveLength(note) {
      return NOTES_WAVE_LENGTH_LIST[note]
    },
    draw() {
      const canvas = this.$refs.canvas
      const CENTER_Y = canvas.clientHeight / 2
      const SCALE_Y = CENTER_Y * 0.9
      const MAX_X_WAVE_LENGTH_CM = 7000
      const SCALE_X = canvas.clientWidth / MAX_X_WAVE_LENGTH_CM
      const ctx = canvas.getContext('2d')
      ctx.clearRect(0, 0, canvas.width, canvas.height)
      const xList = _.range(0, MAX_X_WAVE_LENGTH_CM, MAX_X_WAVE_LENGTH_CM / 900)

      // text settings
      ctx.textBaseline = 'middle'
      ctx.textAlign = 'center'
      ctx.font = '18px Arial'
      ctx.strokeStyle = '#000000'
      ctx.lineWidth = 1

      if (this.drawIndividual && !!this.selectedNotes) {
        this.selectedNotes.forEach((note) => {
          const waveLength = this.getWaveLength(note)
          const yList = xList.map((x) => {
            return Math.sin((x / waveLength) * Math.PI * 2)
          })

          const scaled = _.zip(xList, yList).map(([x, y]) => {
            return [x * SCALE_X, CENTER_Y + y * SCALE_Y]
          })

          ctx.beginPath()
          ctx.moveTo(0, CENTER_Y)
          scaled.forEach(([x, y]) => {
            ctx.lineTo(x, y)
          })
          ctx.stroke()
        })
      }

      if (this.drawSum && !!this.selectedNotes) {
        ctx.strokeStyle = '#FF0000'
        ctx.lineWidth = 2
        const allYList = []
        this.selectedNotes.forEach((note) => {
          const waveLength = this.getWaveLength(note)
          const yList = xList.map((x) => {
            return Math.sin((x / waveLength) * Math.PI * 2)
          })
          allYList.push(yList)
        })

        const sumYList = _.zip(...allYList).map((sameFrameYList) => {
          return _.sum(sameFrameYList)
        })
        const maxY = _.max(sumYList)
        const sumScaled = _.zip(xList, sumYList).map(([x, y]) => {
          return {
            x: x * SCALE_X,
            y: (y / maxY) * SCALE_Y + CENTER_Y,
          }
        })

        ctx.beginPath()
        ctx.moveTo(0, CENTER_Y)
        sumScaled.forEach(({ x, y }) => {
          ctx.lineTo(x, y)
        })
        ctx.stroke()
      }
    },
    noteOn(note) {
      if (this.selectedNotes.includes(note)) {
        this.selectedNotes = this.selectedNotes.filter((x) => x !== note)
      } else {
        this.selectedNotes = [...this.selectedNotes, note]
      }
    },
    noteOff(note) {
      if (this.selectedNotes.includes(note)) {
        this.selectedNotes = this.selectedNotes.filter((x) => x !== note)
      }
    },
  },
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.piano {
  margin: 1em auto;
}
</style>
