<template>
  <div class="vertical-centered-column">
    <div>Listen to note and press same.</div>
    <div>
      <div>
        Octaves:
        <b-checkbox
          v-for="i in [1, 2, 3, 4, 5, 6]"
          :key="i"
          v-model="enabledOctaves"
          :native-value="i"
        >
          {{ i }}
        </b-checkbox>
      </div>
      <div>
        <b-checkbox v-model="showAnswer">Show answer</b-checkbox>
      </div>
      <div>
        <b-checkbox v-model="autorepeat">Auto-repeat</b-checkbox>
      </div>
    </div>
    <div>
      <b-button @click="playNote">Repeat</b-button>
    </div>
    <div v-if="showAnswer">
      {{ targetNote }}
    </div>

    <div id="notation"></div>

    <piano-instrument
      ref="piano"
      style="height: 140px; width: 100%"
      :start-note="pianoStartNote"
      :end-note="pianoEndNote"
      :colors="colors"
      :show-step="false"
      :with-midi="true"
      :synth="synth"
      :play-on-press="playOnPress"
      @noteOn="noteOn"
    >
    </piano-instrument>
  </div>
</template>

<script>
import { mapState } from 'vuex'
import _ from 'lodash'
import PianoInstrument from '@/components/instruments/PianoInstrument'
import music from '@/music'
import * as colorsModule from '@/utils/colors'
import { synth } from '~/components/synthesizers/PolySynth'

function randomChoice(arr) {
  return arr[_.random(arr.length - 1)]
}

export default {
  name: 'GuessNote',
  components: { PianoInstrument },
  props: {
    correctTimeout: {
      type: Number,
      default: 1500,
    },
  },
  data() {
    return {
      enabledOctaves: [2, 3, 4, 5],
      targetNote: null,
      colors: {},
      careAboutOctave: true,
      showAnswer: false,
      autorepeat: false,
      autorepeatIntervalId: null,
      synth,
    }
  },
  computed: {
    ...mapState(['playOnPress']),
    pianoStartNote() {
      if (this.careAboutOctave) {
        const minOctave = _.min(this.enabledOctaves)
        return `C${minOctave}`
      } else {
        return 'C4'
      }
    },
    pianoEndNote() {
      if (this.careAboutOctave) {
        const maxOctave = _.max(this.enabledOctaves)
        return `B${maxOctave}`
      } else {
        return 'B4'
      }
    },
  },
  watch: {
    autorepeat() {
      if (this.autorepeat) {
        this.autorepeatIntervalId = setInterval(this.playNote, 3000)
      } else {
        clearInterval(this.autorepeatIntervalId)
      }
    },
    enabledOctaves() {
      this.octavesChange()
    },
  },
  mounted() {
    // this is useless without play on press
    this.$store.commit('SET_PLAY_ON_PRESS', true)
    this.randomNote()
  },
  methods: {
    octavesChange() {
      this.colors = {}
      this.randomNote()
    },
    noteOn(note) {
      let match = false
      if (this.careAboutOctave) {
        match = note === this.targetNote
      } else {
        match = note.slice(0, -1) === this.targetNote.slice(0, -1)
      }

      if (match) {
        this.colors = Object.assign({}, this.colors, { [note]: colorsModule.green })
        setTimeout(() => {
          this.randomNote()
        }, this.correctTimeout)
      } else {
        const update = { [note]: colorsModule.red }
        if (!this.careAboutOctave) {
          update[note.slice(0, -1)] = colorsModule.red
        }
        this.colors = Object.assign({}, this.colors, update)
      }
    },
    randomNote() {
      this.colors = {}
      const octave = randomChoice(this.enabledOctaves)
      const note = randomChoice(music.allNotes)
      this.targetNote = `${note}${octave}`
      this.playNote()
    },
    playNote() {
      this.$refs.piano.playNote(this.targetNote)
    },
  },
  destroy() {
    if (this.autorepeatIntervalId) {
      clearInterval(this.autorepeatIntervalId)
    }
  },
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.piano {
  margin: 1em auto;
}
</style>
