<template>
  <section class="section">
    <div>
      This is MusicLab. Helpers and trainers for the musicians.
      <a href="mailto:zakshyman@gmail.com">Leave your feedback</a>
      <p>Version: <CI_REPLACE_VERSION /></p>
      <p>Release date: <CI_REPLACE_RELEASE_DATE /></p>
    </div>
  </section>
</template>

<script>
export default {
  name: 'IndexPage',
  components: {},
}
</script>
