<template>
  <div class="vertical-centered-column">
    <div>
      <div>
        Bass octaves:
        <b-checkbox v-model="enabledOctaves.bass" :native-value="1"> 1 </b-checkbox>
        <b-checkbox v-model="enabledOctaves.bass" :native-value="2"> 2 </b-checkbox>
        <b-checkbox v-model="enabledOctaves.bass" :native-value="3"> 3 </b-checkbox>
        <b-checkbox v-model="enabledOctaves.bass" :native-value="4"> 4 </b-checkbox>
      </div>
      <div>
        Treble octaves:
        <b-checkbox v-model="enabledOctaves.treble" :native-value="3"> 3 </b-checkbox>
        <b-checkbox v-model="enabledOctaves.treble" :native-value="4"> 4 </b-checkbox>
        <b-checkbox v-model="enabledOctaves.treble" :native-value="5"> 5 </b-checkbox>
        <b-checkbox v-model="enabledOctaves.treble" :native-value="6"> 6 </b-checkbox>
        <b-checkbox v-model="enabledOctaves.treble" :native-value="7"> 7 </b-checkbox>
      </div>
      <div>
        <b-checkbox v-model="careAboutOctave"> Care about octave </b-checkbox>
      </div>
      <div>
        <b-checkbox v-model="showAnswer"> Show answer </b-checkbox>
      </div>
    </div>
    <div v-if="showAnswer">
      {{ note }}
    </div>

    <div id="notation"></div>

    <piano-instrument
      ref="piano"
      style="height: 140px; width: 100%"
      :start-note="pianoStartNote"
      :end-note="pianoEndNote"
      :colors="colors"
      :show-step="false"
      :with-midi="true"
      :synth="synth"
      :play-on-press="playOnPress"
      @noteOn="noteOn"
    >
    </piano-instrument>
  </div>
</template>

<script>
import Vex from 'vexflow'
import _ from 'lodash'
import { mapState } from 'vuex'
import PianoInstrument from '@/components/instruments/PianoInstrument'
import music from '@/music'
import * as colorsModule from '@/utils/colors'
import { synth } from '~/components/synthesizers/PolySynth'

function randomChoice(arr) {
  return arr[_.random(arr.length - 1)]
}

export default {
  name: 'NoteTrainer',
  components: { PianoInstrument },
  data() {
    return {
      enabledOctaves: {
        bass: [2, 3],
        treble: [4, 5],
      },
      note: null,
      colors: {},
      careAboutOctave: false,
      showAnswer: false,
      synth,
    }
  },
  computed: {
    ...mapState(['playOnPress']),
    pianoStartNote() {
      if (this.careAboutOctave) {
        const minOctave = _.min(_.concat(this.enabledOctaves.bass, this.enabledOctaves.treble))
        return `C${minOctave}`
      } else {
        return 'C4'
      }
    },
    pianoEndNote() {
      if (this.careAboutOctave) {
        const maxOctave = _.max(_.concat(this.enabledOctaves.bass, this.enabledOctaves.treble))
        return `B${maxOctave}`
      } else {
        return 'B4'
      }
    },
  },
  watch: {
    enabledOctaves: {
      handler() {
        this.octavesChange()
      },
      deep: true,
    },
  },
  mounted() {
    this.randomNote()
  },
  methods: {
    octavesChange() {
      this.colors = {}
      this.randomNote()
    },
    noteOn(note) {
      let match = false
      if (this.careAboutOctave) {
        match = note === this.note
      } else {
        match = note.slice(0, -1) === this.note.slice(0, -1)
      }

      if (match) {
        this.colors = {}
        this.randomNote()
      } else {
        const update = { [note]: colorsModule.red }
        if (!this.careAboutOctave) {
          update[note.slice(0, -1)] = colorsModule.red
        }
        this.colors = Object.assign({}, this.colors, update)
      }
    },
    randomNote() {
      const result = _.flatMap(Object.entries(this.enabledOctaves), ([clef, enabledOctaves]) => {
        return enabledOctaves.map((octave) => {
          return { clef, octave }
        })
      })
      const { clef, octave } = randomChoice(result)
      let newNote
      do {
        const note = randomChoice(music.allNotes)
        newNote = `${note}${octave}`
      } while (newNote === this.note) // ensure that we pick different than current note

      this.note = newNote
      this.updateNote(this.note, clef)
    },
    updateNote(note, clef) {
      // note = A3, C4...
      // clef = bass or treble
      const notationDiv = document.getElementById('notation')
      if (notationDiv.children.length !== 0) {
        notationDiv.removeChild(notationDiv.children[0])
      }

      const vf = new Vex.Flow.Factory({ renderer: { elementId: 'notation' } })
      const score = vf.EasyScore()
      const system = vf.System()

      system
        .addStave({
          voices: [score.voice(score.notes(`${note}/1`, { clef }))],
        })
        .addClef(clef)

      vf.draw()
    },
  },
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.piano {
  margin: 1em auto;
}
</style>
