<template>
  <div>
    <div>
      Scale:
      <b-select v-model="selectedScaleName" label="Scale">
        <option :value="null">None</option>
        <option v-for="scale in allScales" :key="scale" :value="scale">{{ scale }}</option>
      </b-select>
    </div>
    <div>
      <div>
        <b-checkbox v-model="dbgEnabled">Debug</b-checkbox>
      </div>
      <div v-if="dbgEnabled">
        <div v-for="(value, key) in dbg" :key="key">
          <b-checkbox v-model="dbg[key]">{{ key }}</b-checkbox>
        </div>
        <div>
          <label>Black threshold</label>
          <input v-model="params.blackThreshold" type="range" :min="1" :max="250" class="slider" />
          {{ params.blackThreshold }}
        </div>
        Stability disruption: {{ Math.round(stabilityDisruption) }}
      </div>
      <div>
        <b-button v-if="!processingLoopTimerId" @click="start">Start</b-button>
        <b-button v-else @click="stop">Stop</b-button>
      </div>
      <div v-if="dbgEnabled">
        <button @click="initVideoStream">Start Camera feed</button>
        <button v-if="!processingLoopTimerId" @click="startProcessing">start processing</button>
        <button v-else @click="stopProcessing">stop processings</button>
        <button @click="processFrame">process frame</button>
        <button @click="processNextFrame">process next frame</button>
      </div>
      <video
        ref="video"
        class="bordered"
        :style="{ display: dbgEnabled ? 'inline' : 'none' }"
        :width="VIDEO_WIDTH"
        :height="VIDEO_HEIGHT"
        loop
        controls
      >
        <source :src="VIDEO_SOURCE" />
      </video>
      <canvas
        ref="blackWhiteCanvas"
        class="bordered"
        :style="{ display: dbgEnabled ? 'inline' : 'none' }"
        :width="VIDEO_WIDTH"
        :height="VIDEO_HEIGHT"
      ></canvas>
      <canvas
        ref="resultCanvas"
        class="bordered"
        :width="VIDEO_WIDTH"
        :height="VIDEO_HEIGHT"
      ></canvas>
    </div>

    <piano-instrument ref="piano" style="height: 200px" :colors="colors" :show-step="false">
    </piano-instrument>
  </div>
</template>

<script>
import _ from 'lodash'
import cv from '@techstark/opencv-js'

import { mapGetters } from 'vuex'

import PianoInstrument from '@/components/instruments/PianoInstrument'
import music from '@/music'
import * as colorsModule from '@/utils/colors'

function cvPolyline(src, points, color) {
  for (let i = 0; i < points.length - 1; i++) {
    cv.line(src, new cv.Point(...points[i]), new cv.Point(...points[i + 1]), color)
  }
}

export default {
  name: 'PianoAr',
  components: { PianoInstrument },
  data() {
    return {
      dbgEnabled: false,
      dbg: {
        showVertBounds: false,
        showVertSumGraph: false,
        showVertSumGraphFiltered: false,
        showGrowGraph: true,
        showBlackSpikes: false,
        drawScale: true,
        drawScaleOnTop: false,
      },
      params: {
        fps: 30,
        blackThreshold: 130,
      },
      VIDEO_WIDTH: 320, // 320
      VIDEO_HEIGHT: 240, // 240
      // VIDEO_SOURCE: '/IMG_0838.ogg',
      VIDEO_SOURCE: '/IMG_4841.ogg',
      // VIDEO_SOURCE: '/rec1.mp4',
      // VIDEO_SOURCE: '/IMG_9071.ogg',
      processingLoopTimerId: null,
      selectedScaleName: null,
      allScales: [...music.allNotes, ...music.allNotes.map((x) => `${x}m`)],
      lastDetectedKeys: null,
      stabilityDisruption: 0,
    }
  },
  computed: {
    ...mapGetters(['palette']),
    selectedScale() {
      if (this.selectedScaleName) {
        const { root, mode } = music.parseScale(this.selectedScaleName)
        return music.getScale(root, mode)
      } else {
        return music.allNotes
      }
    },
    colors() {
      const palette = this.selectedScaleName === null ? colorsModule.rainbow12Palette : this.palette
      const result = {}
      this.selectedScale.forEach((note, index) => {
        result[note] = palette[index]
      })
      return result
    },
  },
  watch: {
    dbgEnabled(value) {
      if (value) {
        this.dbg = Object.assign({}, this.dbg, {
          showVertSumGraph: true,
          showVertSumGraphFiltered: true,
          showBlackSpikes: true,
          drawScale: true,
          drawScaleOnTop: true,
          showVertBounds: true,
          showGrowGraph: true,
        })
      } else {
        for (const key in this.dbg) {
          this.dbg[key] = false
        }
        this.dbg.drawScale = true
        // this.dbg.showVertBounds = true
      }
    },
    dbg: {
      deep: true,
      handler() {
        this.processFrame()
      },
    },
  },
  beforeDestroy() {
    this.stopProcessing()
  },
  methods: {
    start() {
      this.initVideoStream()
      this.startProcessing()
    },
    stop() {
      this.stopProcessing()
      const stream = this.$refs.video.srcObject
      if (stream) {
        stream.getVideoTracks().forEach((track) => track.stop())
      }
    },
    stopProcessing() {
      if (this.processingLoopTimerId !== null) {
        clearTimeout(this.processingLoopTimerId)
        this.processingLoopTimerId = null
      }
    },
    initVideoStream() {
      navigator.mediaDevices
        .getUserMedia({ video: { facingMode: 'environment' }, audio: false })
        .then((stream) => {
          this.$refs.video.srcObject = stream
          this.$refs.video.play()
        })
        .catch((err) => {
          console.error('An error occurred! ', err)
        })
    },
    processNextFrame() {
      this.$refs.video.play()
      setTimeout(() => {
        this.$refs.video.pause()
        // delaying processFrame, cause video is not yet paused
        setTimeout(this.processFrame, 100)
      }, 100)
    },
    startProcessing() {
      const processLoop = () => {
        const begin = Date.now()
        try {
          this.processFrame()
        } catch (err) {
          console.error(err)
        }
        const delay = 1000 / this.params.fps - (Date.now() - begin)
        this.processingLoopTimerId = setTimeout(processLoop, delay)
      }
      this.processingLoopTimerId = setTimeout(processLoop, 0)
    },
    processFrame() {
      // Preparing data
      const src = new cv.Mat(this.$refs.video.height, this.$refs.video.width, cv.CV_8UC4)
      const dstGray = new cv.Mat()
      const cap = new cv.VideoCapture(this.$refs.video)
      cap.read(src)

      // Black and white threshold
      cv.cvtColor(src, dstGray, cv.COLOR_RGBA2GRAY)
      cv.threshold(
        dstGray,
        dstGray,
        Number.parseFloat(this.params.blackThreshold),
        200,
        cv.THRESH_BINARY
      )

      // get vertical graph of horizontal sums
      let horSumGraph = []
      for (let i = 0; i < dstGray.size().height; i++) {
        let sum = 0
        for (let j = 0; j < dstGray.size().width; j++) {
          sum += dstGray.ucharPtr(i, j)[0]
        }
        horSumGraph.push(sum)
      }

      let maxValue = _.max(horSumGraph)
      let scale = (1 / maxValue) * (src.size().width * 0.7) // scale so max will draw 0.7 of canvas width

      horSumGraph = this.significantChangeFilter(horSumGraph, maxValue * 0.1)
      cvPolyline(
        dstGray,
        horSumGraph.map((value, i) => [value * scale, i]),
        new cv.Scalar(255)
      )

      const { startRow, endRow } = this.findVerticalBounds(horSumGraph)

      // draw piano bounds
      cv.line(
        dstGray,
        new cv.Point(0, startRow),
        new cv.Point(dstGray.size().width, startRow),
        new cv.Scalar(255)
      )
      cv.line(
        dstGray,
        new cv.Point(0, endRow),
        new cv.Point(dstGray.size().width, endRow),
        new cv.Scalar(255)
      )
      if (this.dbg.showVertBounds) {
        cv.line(
          src,
          new cv.Point(0, startRow),
          new cv.Point(src.size().width, startRow),
          new cv.Scalar(255, 0, 0, 255)
        )
        cv.line(
          src,
          new cv.Point(0, endRow),
          new cv.Point(src.size().width, endRow),
          new cv.Scalar(255, 0, 0, 255)
        )
      }

      // get horizontal graph of vertical sums in bounds
      let vertSumGraph = []
      for (let i = 0; i < dstGray.size().width; i++) {
        let sum = 0
        for (let j = startRow; j < endRow; j++) {
          sum += dstGray.ucharPtr(j, i)[0]
        }
        vertSumGraph.push(sum)
      }

      // Drawing vertSumGraph as green BEFORE filters
      maxValue = _.max(vertSumGraph)
      scale = (1 / maxValue) * (src.size().height * 0.3) // scale so max will draw 0.3 of canvas height
      if (this.dbg.showVertSumGraph) {
        const points = vertSumGraph.map((value, i) => {
          return [i, value * scale + startRow]
        })
        cvPolyline(src, points, [0, 200, 0, 255])
      }

      // Applying filters
      // vertSumGraph = this.significantChangeFilter(vertSumGraph, maxValue * 0.1)
      vertSumGraph = this.meanFilter(vertSumGraph, 10)

      // Drawing vertSumGraph as red AFTER filters
      if (this.dbg.showVertSumGraphFiltered) {
        const points = vertSumGraph.map((value, i) => [i, value * scale + startRow])
        cvPolyline(src, points, [255, 0, 0, 255])
      }

      // Getting boolean graph of growing
      let growGraph = []
      let prev = vertSumGraph[0] < vertSumGraph[1]
      for (let i = 1; i < vertSumGraph.length; i++) {
        if (vertSumGraph[i - 1] === vertSumGraph[i]) {
          growGraph.push(prev)
        } else {
          growGraph.push(vertSumGraph[i - 1] < vertSumGraph[i])
          prev = vertSumGraph[i - 1] < vertSumGraph[i]
        }
      }
      growGraph.push(true)

      // Draw raw growGraph
      if (this.dbg.showGrowGraph) {
        for (let i = 0; i < growGraph.length - 1; i++) {
          cv.line(
            src,
            new cv.Point(i, endRow - 10),
            new cv.Point(i + 1, endRow - 10),
            growGraph[i] ? [255, 0, 0, 255] : [0, 0, 255, 255]
          )
        }
      }

      // Applying filters
      // as an improvement: window size for this filter can be median of lengths
      growGraph = this.booleanMedianFilter(growGraph, 10)

      // Draw filtered growGraph
      if (this.dbg.showGrowGraph) {
        for (let i = 0; i < growGraph.length - 1; i++) {
          cv.line(
            src,
            new cv.Point(i, endRow - 5),
            new cv.Point(i + 1, endRow - 5),
            growGraph[i] ? [255, 0, 0, 255] : [0, 0, 255, 255]
          )
        }
      }

      // Getting blackSpikes
      const blackSpikes = []
      for (let i = 0; i < growGraph.length - 1; i++) {
        if (!growGraph[i] && growGraph[i + 1]) {
          blackSpikes.push(i)
        }
      }

      // Drawing blackSpikes
      if (this.dbg.showBlackSpikes) {
        blackSpikes.forEach((value) => {
          cv.line(
            src,
            new cv.Point(value, 0),
            new cv.Point(value, src.size().height),
            new cv.Scalar(255, 0, 0, 255)
          )
        })
      }

      const blackKeysLabeled = this.getBlackKeyLabels(blackSpikes)
      console.log('blackKeysLabeled', blackKeysLabeled)
      const keys = this.extendWithWhiteKeys(blackKeysLabeled)
      console.log('allKeys', keys)

      if (this.dbg.drawScale) {
        this.drawScale(src, keys, startRow, endRow)
      }

      cv.imshow(this.$refs.blackWhiteCanvas, dstGray)
      cv.imshow(this.$refs.resultCanvas, src)

      if (this.dbgEnabled) {
        this.stabilityDisruption += this.computeStabilityDisruption(this.lastDetectedKeys, keys)
      }
      this.lastDetectedKeys = keys
    },
    drawScale(src, keys, startRow, endRow) {
      const [blackKeyRatio, whiteKeyRatio] = !this.dbg.drawScaleOnTop ? [0.4, 0.52] : [0.1, 0.2]
      const sharpVertMiddle = startRow + (endRow - startRow) * blackKeyRatio
      const vertMiddle = startRow + (endRow - startRow) * whiteKeyRatio
      const halfWidth = 3
      const halfHeight = 10

      keys.forEach((value) => {
        if (!(value.name in this.colors)) {
          return
        }
        const color = colorsModule.hexToRgb(this.colors[value.name])
        color.push(255) // alpha

        const y = value.name.endsWith('#') ? sharpVertMiddle : vertMiddle
        cv.rectangle(
          src,
          new cv.Point(value.x - halfWidth, y - halfHeight),
          new cv.Point(value.x + halfWidth, y + halfHeight),
          color,
          cv.FILLED
        )
      })
    },
    findVerticalBounds(horSumGraph) {
      // Assuming that middle horizontal line is pointed to piano black Keys!
      const significantChange = _.max(horSumGraph) * 0.1
      const iGap = 10

      const middle = Math.floor(horSumGraph.length / 2)

      let endRow = middle
      for (let i = middle + iGap; i < horSumGraph.length; i++) {
        // looking for a place where next row become significantly less than previous
        if (horSumGraph[i - iGap] - horSumGraph[i] > significantChange) {
          endRow = i
          break
        }
      }

      let startRow = middle
      for (let i = middle - iGap; i > 0; i--) {
        // looking for a place where next row become significantly less than previous
        if (horSumGraph[i + iGap] - horSumGraph[i] > significantChange) {
          startRow = i
          break
        }
      }
      return { startRow, endRow }
    },
    getBlackKeyLabels(blackSpikes) {
      console.assert(blackSpikes.length >= 5)
      // assuming data is ideal

      const PATTERN = [1, 1.75, 1, 1, 1.75] // [20, 35, 20, 20, 35]

      console.log('blackSpikes', blackSpikes)
      const distances = []
      for (let i = 1; i < blackSpikes.length; i++) {
        distances.push(blackSpikes[i] - blackSpikes[i - 1])
      }
      console.log('distances', distances)
      const distancesSorted = _.sortBy(distances)
      // for one octave there is 3 short distances and 2 long. we want median if short distances, so take 1.5/5
      const shortDistance = distances[Math.floor((distancesSorted.length * 1.5) / 5)]

      const SCALED_PATTERN = PATTERN.map((x) => x * shortDistance)

      const errors = []
      // Taking startIndex blackSpike and assume it is C#
      for (let startIndex = 0; startIndex <= SCALED_PATTERN.length; startIndex++) {
        let err = 0
        let amount = 0
        // with that assumption, calculating how well it matches the pattern
        for (let i = startIndex, j = 0; i < distances.length; i++, j++) {
          err += (distances[i] - SCALED_PATTERN[j % SCALED_PATTERN.length]) ** 2
          amount++
        }
        errors.push(err / amount)
      }
      console.log('errors', errors)
      const minErr = _.min(errors)
      const minStartIndex = errors.indexOf(minErr)
      console.log('minErrIndex', minStartIndex, 'minErr', minErr)

      const PATTERN_NAMES = ['C#', 'D#', 'F#', 'G#', 'A#']
      const result = []
      for (let i = minStartIndex, j = 0; i < distances.length; i++, j++) {
        result.push({
          x: blackSpikes[i],
          name: PATTERN_NAMES[j % PATTERN_NAMES.length],
        })
      }
      return result
    },
    extendWithWhiteKeys(blackKeys) {
      const result = []
      result.push(blackKeys[0])
      for (let i = 1; i < blackKeys.length; i++) {
        const prev = blackKeys[i - 1]
        const cur = blackKeys[i]
        switch (prev.name) {
          case 'C#':
            result.push({ x: (cur.x + prev.x) / 2, name: 'D' })
            break
          case 'D#':
            result.push({ x: prev.x + (cur.x - prev.x) * 0.27, name: 'E' })
            result.push({ x: prev.x + (cur.x - prev.x) * 0.7, name: 'F' })
            break
          case 'F#':
            result.push({ x: (cur.x + prev.x) / 2, name: 'G' })
            break
          case 'G#':
            result.push({ x: (cur.x + prev.x) / 2, name: 'A' })
            break
          case 'A#':
            result.push({ x: prev.x + (cur.x - prev.x) * 0.27, name: 'B' })
            result.push({ x: prev.x + (cur.x - prev.x) * 0.73, name: 'C' })
            break
        }
        result.push(cur)
      }
      return result
    },
    significantChangeFilter(graph, significantChange) {
      graph = _.clone(graph)

      let curVal = graph[0]
      for (let i = 1; i < graph.length; i++) {
        if (Math.abs(graph[i] - curVal) > significantChange) {
          curVal = graph[i]
        }
        graph[i] = curVal
      }

      return graph
    },
    meanFilter(graph, windowSize) {
      let window = []
      const result = graph.map((value) => {
        window = [value, ...window.slice(0, windowSize)]
        return _.sum(window) / window.length
      })

      // Shifting left for half of window size
      for (let i = 0; i < windowSize / 2; i++) {
        result.push(result[result.length - 1])
      }
      return result.slice(Math.floor(windowSize / 2))
    },
    booleanMedianFilter(graph, windowSize) {
      graph = this.meanFilter(graph, windowSize)
      return graph.map((value) => value >= 0.5)
    },
    computeStabilityDisruption(keys1, keys2) {
      let result = 0
      _.zip(keys1, keys2).forEach(([k1, k2]) => {
        if (k2 && k1) {
          result += (k2.x - k1.x) ** 2
        }
      })
      return result
    },
  },
}
</script>
<style scoped>
.piano {
  margin: 1em auto;
}

.bordered {
  border: 1px solid black;
}
</style>
