<template>
  <div class="vertical-centered-column">
    <div>
      <div>
        Modes:
        <b-checkbox v-model="enabledModes" native-value="minor"> minor </b-checkbox>
        <b-checkbox v-model="enabledModes" native-value="major"> major </b-checkbox>
      </div>
      <div>
        <b-checkbox v-model="speakNextScale">Speak next scale</b-checkbox>
      </div>
      <div>
        <b-checkbox v-model="showAnswer">Show answer</b-checkbox>
      </div>
    </div>

    <div class="block">
      Press all keys for: <b>{{ targetRoot }}{{ targetScalePattern }}</b>
    </div>

    <div v-if="showAnswer" class="block">
      {{ targetScale }}
    </div>

    <piano-instrument
      ref="piano"
      style="height: 140px; width: 100%"
      :start-note="pianoStartNote"
      :end-note="pianoEndNote"
      :colors="colors"
      :show-step="false"
      :with-midi="true"
      :synth="synth"
      :play-on-press="playOnPress"
      @noteOn="noteOn"
      @noteOff="checkAnswer"
    >
    </piano-instrument>
    <div>
      You use theory from this video, that helps you memorize scales:
      <a target="_blank" href="https://vm.tiktok.com/ZM8oc8jmE/"
        >https://vm.tiktok.com/ZM8oc8jmE/</a
      >
    </div>
  </div>
</template>

<script>
import _ from 'lodash'
import { mapState } from 'vuex'
import PianoInstrument from '@/components/instruments/PianoInstrument'
import music from '@/music'
import * as colorsModule from '@/utils/colors'
import { synth } from '~/components/synthesizers/PolySynth'

function randomChoice(arr) {
  return arr[_.random(arr.length - 1)]
}

export default {
  name: 'ScaleTrainer',
  components: { PianoInstrument },
  props: {
    wrongNoteTimeout: {
      type: Number,
      default: 1500,
    },
    correctTimeout: {
      type: Number,
      default: 2000,
    },
  },
  data() {
    return {
      enabledModes: ['major'],
      clickedNotes: [],
      showAnswer: false,
      targetRoot: null,
      targetScalePattern: null,
      colors: {},
      careAboutOctave: false,
      timeoutId: null,
      speakNextScale: false,
      synth,
    }
  },
  computed: {
    ...mapState(['playOnPress']),
    targetScale() {
      return music.getScale(this.targetRoot, this.targetScalePattern)
    },
    pianoStartNote() {
      return 'C3'
    },
    pianoEndNote() {
      return 'B5'
    },
  },
  watch: {
    enabledModes() {
      this.pickRandomScale()
    },
    speakNextScale() {
      if (this.speakNextScale) {
        this.sayScale()
      }
    },
  },
  mounted() {
    this.pickRandomScale()
  },
  methods: {
    noteOn(note) {
      this.clickedNotes = [...this.clickedNotes, note]
      this.checkAnswer()
    },
    checkAnswer() {
      if (this.timeoutId !== null) {
        return
      }
      if (this.enabledModes.length === 0) {
        return
      }

      let colors = {}
      const notesToCheck = this.clickedNotes

      const notesToCheckNoOctave = notesToCheck.map((x) => x.slice(0, -1))
      const everyTargetNotePressed = this.targetScale.every((x) => notesToCheckNoOctave.includes(x))
      let wrongNotePressed = false
      _.zip(notesToCheck, notesToCheckNoOctave).forEach(([noteToCheck, noteToCheckNoOctave]) => {
        if (this.targetScale.includes(noteToCheckNoOctave)) {
          colors[noteToCheckNoOctave] = colorsModule.green
        } else {
          colors[noteToCheckNoOctave] = colorsModule.red
          setTimeout(() => {
            this.clickedNotes = this.clickedNotes.filter((x) => x !== noteToCheck)
            this.checkAnswer()
          }, this.wrongNoteTimeout)
          wrongNotePressed = true
        }
      })

      if (everyTargetNotePressed && !wrongNotePressed) {
        colors = {}
        this.targetScale.forEach((note) => {
          colors[note] = colorsModule.acidicGreen
        })
        this.timeoutId = setTimeout(() => {
          this.timeoutId = null
          this.colors = {}
          this.pickRandomScale()
        }, this.correctTimeout)
      }

      this.colors = colors
    },
    pickRandomScale() {
      if (this.enabledModes.length === 0) {
        return
      }
      this.clickedNotes = []
      this.targetRoot = randomChoice(music.allNotes)
      this.targetScalePattern = randomChoice(this.enabledModes)
      this.checkAnswer()

      if (this.speakNextScale) {
        this.sayScale()
      }
    },
    sayScale() {
      let phrase = this.targetRoot[0] + ' '

      if (this.targetRoot[1] === '#') {
        phrase += 'Sharp '
      }
      if (this.targetRoot[1] === 'b') {
        phrase += 'Flat '
      }
      phrase += this.targetScalePattern
      window.speechSynthesis.speak(new SpeechSynthesisUtterance(phrase))
    },
  },
}
</script>
<style scoped>
.piano {
  margin: 1em auto;
}
</style>
