<template>
  <div class="vertical-centered-column">
    <div class="level">
      <b-select v-model="tonic">
        <option v-for="note in allNotes" :key="note" :value="note">
          {{ note }}
        </option>
      </b-select>
      <b-select v-model="tune">
        <option v-for="t in ['major', 'minor']" :key="t" :value="t">
          {{ t }}
        </option>
      </b-select>
      <NuxtLink :to="'/scales?scale=' + tonic.replace('#', '%23') + tune">🔗</NuxtLink>
    </div>

    <table id="steps" border="1">
      <tr>
        <td>Step num</td>
        <td v-for="(step, stepI) in scale" :key="stepI">{{ stepI + 1 }}</td>
      </tr>
      <tr>
        <td>Step note</td>
        <td
          v-for="(step, stepI) in scale"
          :key="stepI"
          :style="{ 'background-color': colors[step] }"
        >
          {{ step }}
        </td>
      </tr>
      <tr>
        <td>Step triad</td>
        <td v-for="(step, stepI) in triads" :key="stepI">
          <NuxtLink :to="'/chords?chord=' + step.replace('#', '%23')">
            {{ step }}
          </NuxtLink>
          <span v-if="tune === 'minor' && stepI === 4">*</span>
          <!--              Step 5 usually is taken major-->
        </td>
      </tr>
      <tr>
        <td>Show all <input v-model="selectedStep" type="radio" :value="-1" /></td>
        <td v-for="(step, stepI) in scale" :key="stepI">
          <input v-model="selectedStep" type="radio" :value="stepI" />
        </td>
      </tr>
    </table>

    <div>
      <p v-if="isSelectedStep">Triad notes: {{ selectedStepTriadNotes }}</p>
      <p :class="{ hidden: tune !== 'minor' }">* - you may want to use it major</p>
    </div>

    <CircleOfFifth
      id="circle-of-firth"
      :selected-scale="{ root: tonic, mode: tune }"
      :palette="palette"
      class="container"
      @chordClick="chordClick"
    >
    </CircleOfFifth>

    <guitar-instrument
      v-if="instrument === 'guitar'"
      ref="instrument"
      :colors="colors"
      :scale="scale"
      :show-step="true"
    >
    </guitar-instrument>

    <piano-instrument
      v-if="instrument === 'piano'"
      ref="instrument"
      style="height: 100px; width: 100%"
      :colors="colors"
      :scale="scale"
      :show-step="true"
      :with-midi="true"
      :synth="synth"
      :play-on-press="playOnPress"
    >
    </piano-instrument>

    <ukulele-instrument
      v-if="instrument === 'ukulele'"
      ref="instrument"
      :colors="colors"
      :scale="scale"
      :show-step="true"
    >
    </ukulele-instrument>
  </div>
</template>

<script>
import { mapState, mapGetters } from 'vuex'
import CircleOfFifth from '@/components/CircleOfFifth'
import GuitarInstrument from '@/components/instruments/GuitarInstrument'
import PianoInstrument from '@/components/instruments/PianoInstrument'
import UkuleleInstrument from '@/components/instruments/UkuleleInstrument'
import music from '@/music'
import { synth } from '~/components/synthesizers/PolySynth'

export default {
  name: 'Home',
  components: { CircleOfFifth, UkuleleInstrument, PianoInstrument, GuitarInstrument },
  data() {
    return {
      tonic: 'E',
      tune: 'major',
      selectedStep: -1,
      synth,
    }
  },
  computed: {
    ...mapState(['instrument', 'playOnPress']),
    ...mapGetters(['palette']),
    allNotes() {
      return music.allNotes
    },
    colors() {
      const result = {}
      if (this.isSelectedStep) {
        this.selectedStepTriadNotes.forEach((pitch, i) => {
          result[pitch] = this.palette[i]
        })
      } else {
        this.scale.forEach((pitch, i) => {
          result[pitch] = this.palette[i]
        })
      }
      return result
    },
    scale() {
      return music.getScale(this.tonic, this.tune)
    },
    triads() {
      return music.getScaleChords({ root: this.tonic, mode: this.tune })
    },
    isSelectedStep() {
      return this.selectedStep !== -1
    },
    selectedStepTriadNotes() {
      if (!this.isSelectedStep) {
        return null
      }
      return [
        this.scale[this.selectedStep],
        this.scale[(this.selectedStep + 2) % this.scale.length],
        this.scale[(this.selectedStep + 4) % this.scale.length],
      ]
    },
  },
  mounted() {
    if (this.$route.query.scale) {
      if (this.$route.query.scale[1] === '#') {
        this.tonic = this.$route.query.scale.slice(0, 2).toUpperCase()
        this.tune = this.$route.query.scale.slice(2)
      } else {
        this.tonic = this.$route.query.scale[0].toUpperCase()
        this.tune = this.$route.query.scale.slice(1)
      }
    }
  },
  methods: {
    chordClick(chord) {
      if (!chord.endsWith('dim')) {
        const result = music.parseScale(chord)
        if (result) {
          this.tune = result.mode
          this.tonic = result.root
        }
      }

      const { root, quality } = music.parseChord(chord)
      const chordNotes = music.getChordNotes(root, quality).map((note) => `${note}4`)
      if (this.playOnPress) {
        this.$refs.instrument.play(chordNotes)
      }
    },
  },
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.hidden {
  visibility: hidden;
}

#steps td {
  font-weight: bold;
  margin: 0;
  width: 50px;
}
#steps td:first-child {
  width: 100px;
  text-align: left;
}

#circle-of-firth {
  margin: 1em;
}
</style>
