<template>
  <div>
    <div style="display: flex; flex-direction: column">
      <div class="section">
        Config
        <div>
          Tempo:
          <input
            v-model="tempo"
            type="number"
            style="width: 3em"
            @change="
              playPause()
              playPause()
            "
          />
        </div>

        <a v-if="isPlaying" style="cursor: pointer" @click="playPause">️️⏸</a>
        <a v-if="!isPlaying" style="cursor: pointer" @click="playPause">▶️️</a>

        <div>
          Input: {{ selectedInput }}
          <input
            id="cicrcleOfFifthCheckbox"
            v-model="selectedInput"
            type="radio"
            value="circleOfFifth"
          />
          <label for="cicrcleOfFifthCheckbox">Circle of fifth</label>
          <input id="customCheckbox" v-model="selectedInput" type="radio" value="custom" />
          <label for="customCheckbox">Custom</label>
        </div>
      </div>

      <div class="input-section section">
        <div v-if="selectedInput === 'circleOfFifth'">
          <CircleOfFifth id="circle-of-firth" @chordClick="chordClick">
            <!--          :selected-scale="{root: this.tonic, mode: this.tune}"-->
          </CircleOfFifth>
          <piano-instrument
            v-if="instrument === 'piano'"
            ref="instrument"
            :with-midi="true"
            style="display: none"
          >
          </piano-instrument>
          <guitar-instrument
            v-if="instrument === 'guitar'"
            ref="instrument"
            :colors="colors"
            :show-step="false"
            style="display: none"
          >
          </guitar-instrument>

          <ukulele-instrument
            v-if="instrument === 'ukulele'"
            ref="instrument"
            :colors="colors"
            :show-step="false"
            style="display: none"
          >
          </ukulele-instrument>
        </div>

        <div v-if="selectedInput === 'custom'">
          <div>
            <input v-model="newChord" type="text" />
            <button :disabled="!newChordValid" @click="playNewChord">play</button>
            <button :disabled="!newChordValid" @click="addNewChord">add</button>
          </div>

          <piano-instrument
            v-if="instrument === 'piano'"
            id="piano"
            ref="instrument"
            style="height: 140px"
            :with-midi="true"
            :colors="colors"
            :show-step="false"
          >
          </piano-instrument>

          <guitar-instrument
            v-if="instrument === 'guitar'"
            ref="instrument"
            :colors="colors"
            :show-step="false"
          >
          </guitar-instrument>

          <ukulele-instrument
            v-if="instrument === 'ukulele'"
            ref="instrument"
            :colors="colors"
            :show-step="false"
          >
          </ukulele-instrument>
        </div>
      </div>

      <div v-for="(chord, index) in sequence" :key="index" class="chordRow">
        <div>{{ chord }}</div>
        <guitar-instrument
          v-if="instrument === 'guitar'"
          :colors="getColors(chord)"
          :show-step="false"
        ></guitar-instrument>
        <piano-instrument
          v-if="instrument === 'piano'"
          style="height: 80px"
          :colors="getColors(chord)"
          :show-step="false"
        ></piano-instrument>
        <ukulele-instrument
          v-if="instrument === 'ukulele'"
          :colors="getColors(chord)"
          :show-step="false"
        ></ukulele-instrument>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState } from 'vuex'
import CircleOfFifth from '@/components/CircleOfFifth'
import GuitarInstrument from '@/components/instruments/GuitarInstrument'
import PianoInstrument from '@/components/instruments/PianoInstrument'
import UkuleleInstrument from '@/components/instruments/UkuleleInstrument'
import music from '@/music'
import * as colorsModule from '@/utils/colors'

export default {
  name: 'Sequence',
  components: { CircleOfFifth, PianoInstrument, GuitarInstrument, UkuleleInstrument },
  data() {
    return {
      sequence: [],

      selectedInput: 'circleOfFifth',
      newChord: 'Am',
      tempo: 60,

      playerIntervalId: null,
      playingIndex: 0,
    }
  },
  computed: {
    ...mapState(['instrument']),
    isPlaying() {
      return this.playerIntervalId !== null
    },
    colors() {
      return this.getColors(this.newChord)
    },
    newChordValid() {
      return !!music.parseChord(this.newChord)
    },
  },
  methods: {
    playNewChord() {
      console.log(this.newChord)
      const { root, quality } = music.parseChord(this.newChord)
      const noteList = music.getChordFullNotes(root + '4', quality)
      console.log('playing:', noteList)
      this.$refs.instrument.play(noteList)
    },
    addNewChord() {
      console.log('adding', this.newChord)
      this.sequence.push(this.newChord)
      this.newChord = ''
    },
    getColors(chord) {
      const result = {}
      if (music.parseChord(chord)) {
        const { root, quality } = music.parseChord(chord)
        // all scale notes to gray
        // console.log(music.getScaleByChord(chord))
        music.getScaleByChord(chord).forEach((note) => (result[note] = colorsModule.gray))
        // all chord notes to green
        music.getChordNotes(root, quality).forEach((note) => (result[note] = colorsModule.green))
        // tonic to special
        // let firstNote = music.getChordNotes(root, quality)[0]
        // result[firstNote] = 'tonic'
      }
      return result
    },

    chordClick(chord) {
      console.log('adding', chord)
      this.sequence.push(chord)
      const { root, quality } = music.parseChord(chord)
      const chordNotes = music.getChordNotes(root, quality).map((note) => `${note}4`)
      this.$refs.instrument.play(chordNotes)
    },
    timerTick() {
      this.playingIndex = this.playingIndex + 1 >= this.sequence.length ? 0 : this.playingIndex + 1

      const { root, quality } = music.parseChord(this.sequence[this.playingIndex])
      const noteList = music.getChordFullNotes(root + '4', quality)
      console.log('playing:', noteList)
      this.$refs.instrument.play(noteList)
    },

    playPause() {
      if (this.playerIntervalId) {
        clearInterval(this.playerIntervalId)
        this.playerIntervalId = null
      } else {
        this.playerIntervalId = setInterval(this.timerTick, (this.tempo / 60) * 1000)
      }
    },
  },
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
#piano {
  margin: 1em auto;
}
.guitar {
  margin: 1em auto;
}
.ukulele {
  margin: 1em auto;
}

.chordRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.chordRow > *:first-child {
  width: 50px;
}

.section {
  border: 1px solid black;
  padding: 15px;
}
</style>
