<template>
  <div class="settings">
    <div>
      <b-checkbox v-model="playOnPress"> Play on press </b-checkbox>
    </div>
    <div>
      <b-field label="Instrument">
        <b-radio-button
          v-for="instrument in allInstruments"
          :key="instrument"
          v-model="selectedInstrument"
          type="is-primary is-light is-outlined"
          :native-value="instrument"
        >
          {{ instrument }}
        </b-radio-button>
      </b-field>
    </div>
    <div>
      <b-field label="Palette">
        <b-radio-button
          v-for="palette in allPalettes"
          :key="palette"
          v-model="selectedPalette"
          type="is-primary is-light is-outlined"
          :native-value="palette"
        >
          {{ palette }}
        </b-radio-button>
      </b-field>
    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import * as colorsModule from '@/utils/colors'

export default {
  name: 'Settings',
  data() {
    return {}
  },
  computed: {
    ...mapGetters(['allInstruments']),
    selectedInstrument: {
      get() {
        return this.$store.state.instrument
      },
      set(value) {
        this.$store.commit('SET_INSTRUMENT', value)
      },
    },
    playOnPress: {
      get() {
        return this.$store.state.playOnPress
      },
      set(value) {
        this.$store.commit('SET_PLAY_ON_PRESS', value)
      },
    },
    allPalettes() {
      return Object.keys(colorsModule.allPalettes)
    },
    selectedPalette: {
      get() {
        return this.$store.state.paletteName
      },
      set(value) {
        this.$store.commit('SET_PALETTE_NAME', value)
      },
    },
  },
}
</script>
