<template>
  <div class="container is-max-desktop vertical-centered-column">
    <b-button @click="startStopClick">{{ listen ? 'Stop' : 'Start' }}</b-button>
    <div>
      <b-field label="Input device" horizontal>
        <b-select v-model="inputDevice" style="display: inline" :disabled="true">
          <option v-for="input in inputs" :key="input.deviceId" :value="input.deviceId">
            {{ input.label }}
          </option>
        </b-select>
      </b-field>
      <b-field label="Algorithm" horizontal>
        <b-select v-model="algorithm">
          <option value="YIN">YIN</option>
          <option value="AMDF">AMDF</option>
        </b-select>
      </b-field>
    </div>
    <div style="margin-bottom: 2em">
      processTime: {{ processTime }}
      <pre style="text-align: left; min-height: 15em; min-width: 500px">{{
        JSON.stringify(detectedResult, null, 2)
      }}</pre>
    </div>
    <div>
      <tuner-circular-display :history="history"> </tuner-circular-display>
    </div>
    <div>
      <tuner-display :history="history"></tuner-display>
    </div>
  </div>
</template>

<script>
import analyseAudioData from '@/audio-processor.js'

const MIN_FREQ = 32
const MAX_FREQ = 2000

export default {
  name: 'Tuner',
  components: {},
  data() {
    return {
      inputs: [],
      inputDevice: null,
      listen: false,
      intervalId: null,
      audioProcessor: null,
      audioContext: new AudioContext(),
      mediaRecorder: null,
      algorithm: 'AMDF',
      processTime: null,

      detectedResult: {
        frequency: null,
        octave: null,
        key: null,
        correctHz: null,
        centsOff: null,
        halfSteps: null,
      },
      history: [],
      historySize: 100,
    }
  },
  methods: {
    async startStopClick() {
      if (this.listen) {
        await this.stop()
      } else {
        await this.start()
      }
    },
    async start() {
      this.listen = true
      const sourceStream = await navigator.mediaDevices.getUserMedia({
        audio: {},
      })
      this.mediaRecorder = new MediaRecorder(sourceStream)
      this.mediaRecorder.ondataavailable = this.mediaRecordDataAvailable
      this.fillAllInputDevices()
      this.startProcessingLoop()
    },
    startProcessingLoop() {
      const processLoop = () => {
        this.mediaRecorder.start()
        const recordTime = 100
        const nextRecordStart = 5
        setTimeout(() => {
          this.mediaRecorder.stop()
          if (this.listen) {
            // this if is needed for race condition
            this.intervalId = setTimeout(processLoop, nextRecordStart)
          }
        }, recordTime)
      }
      this.intervalId = setTimeout(processLoop, 0)
    },
    stop() {
      this.listen = false
      clearTimeout(this.intervalId)
      this.mediaRecorder.stream.getTracks().forEach((track) => track.stop())
    },
    fillAllInputDevices() {
      navigator.mediaDevices.enumerateDevices().then((devices) => {
        const inputs = []
        for (const device of devices) {
          if (device.kind === 'audioinput') {
            inputs.push({
              label: device.deviceId === 'default' ? 'default' : device.label,
              deviceId: device.deviceId,
            })
          }
        }
        this.inputs = inputs
        if (inputs.length) {
          this.inputDevice = inputs[0].deviceId
        }
      })
    },
    async mediaRecordDataAvailable(event) {
      if (event.data.size > 0) {
        await this.processData(event.data)
      }
    },
    async processData(data) {
      const startTime = Date.now()
      // data - is Blob
      console.debug('processing data...')
      const response = await fetch(URL.createObjectURL(data))
      const arrayBuffer = await response.arrayBuffer()
      // Decode the audio.
      const audioBuffer = await this.audioContext.decodeAudioData(arrayBuffer)
      console.debug('transformed to audioBuffer', audioBuffer)
      const audioData = audioBuffer.getChannelData(0)
      console.debug('transformed to audioData', { audioData })
      // Send the audio data to the audio processing worker.
      console.debug('data prepared')
      let result = analyseAudioData({
        a4: 440,
        sampleRate: audioBuffer.sampleRate,
        audioData,
        accidentals: 'sharps',
        algorithm: this.algorithm,
      })
      console.debug('Analyzed data:', result)
      this.detectedResult = result
      if (result?.frequency > MAX_FREQ || result?.frequency < MIN_FREQ) {
        result = null
      }
      this.history = [result || null, ...this.history].slice(0, this.historySize)

      console.debug('processing data done')
      this.processTime = Date.now() - startTime
    },
  },
}
</script>

<style></style>
